#ninja-slider {
	width: 80%;
	background: #FFF;
	padding: 0px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	float: right !important;
}
#ninja-slider div.fs-icon {
	top: 10px;
	right: 6px;
	width: 60px;
	height: 26px;
	background: rgba(0,0,0,0.3);
	z-index: 2;
	color: white;
	text-align: center;
	font: bold 11px/26px arial;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 2px;
	opacity: 0;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
}
#ninja-slider .slider-inner:hover div.fs-icon, #ninja-slider.fullscreen div.fs-icon {
	opacity: 1;
}
#ninja-slider div.fs-icon::before {
	content: "EXPAND";
	display: block;
}
#ninja-slider.fullscreen div.fs-icon::before {
	content: "CLOSE";
}
#ninja-slider .slider-inner {
	margin: 0 auto;
	font-size: 0px;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dcdcdc;
}
#ninja-slider.fullscreen .slider-inner {
	width: 100%;
	max-width: 950px;
}
#ninja-slider ul {
	position: relative;
	list-style: none;
	padding: 0;
	box-sizing: border-box;
	touch-action: pan-y;
	height: 658px !important;
}
#ninja-slider li {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
	opacity: 0;
	overflow: hidden;
	box-sizing: border-box;
}
#ninja-slider li.ns-show {
	opacity: 1;
}
#ninja-slider .ns-img {
	background-color: #fff;
	box-shadow: none;
	cursor: default;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#ninja-slider .video, .video-playbutton-layer {
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: black;
	position: absolute;
}
.video-playbutton-layer {
	background: transparent url(../css-img/video.png) no-repeat center center;
}
#ninja-slider div.stopVideoIcon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0px;
	margin: 0 0 6px 6px;
	background: rgba(0,0,0,0.7);
	border-bottom-left-radius: 4px;
	cursor: pointer;
}
#ninja-slider div.stopVideoIcon::before {
	content: "+";
	color: white;
	font: bold 30px/30px arial;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
}
#ninja-slider-pause-play {
	display: none;
}
#ninja-slider-prev, #ninja-slider-next {
	position: absolute;
	display: inline-block;
	width:35px;
	height:47px;
	line-height: 45px;
	top: 46%;
	backface-visibility: hidden;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
	border-radius: 2px;
	z-index: 10;
	font-family: sans-serif;
	font-size: 13px;
	cursor: pointer;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	background: #fff;
}
#ninja-slider-prev:hover, #ninja-slider-next:hover {
	opacity:0.5;
}
#ninja-slider.fullscreen #ninja-slider-prev:hover, #ninja-slider.fullscreen #ninja-slider-next:hover {
	width: 90px;
}
#ninja-slider-prev {
	left:20px;
}
#ninja-slider-next {
	right:20px;
}
#ninja-slider.fullscreen #ninja-slider-prev {
	left: -50px;
	opacity: 1;
}
#ninja-slider.fullscreen #ninja-slider-next {
	right: -50px;
	opacity: 1;
}
#ninja-slider-prev div {
	opacity: 0;
	margin-left: 30px;
	transition: opacity 0.7s;
}
#ninja-slider-next div {
	opacity: 0;
	margin-right: 30px;
	transition: opacity 0.7s;
}
#ninja-slider.fullscreen #ninja-slider-prev:hover div {
	opacity: 1;
}
#ninja-slider.fullscreen #ninja-slider-next:hover div {
	opacity: 1;
}
#ninja-slider-prev::before, #ninja-slider-next::before {
	position: absolute;
	top: 15px;
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
}
#ninja-slider-prev::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	backface-visibility: hidden;
	left: 14px;
}
#ninja-slider-next::before {
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	backface-visibility: hidden;
	right: 14px;
}
#ninja-slider-pager {
	display: none;
}
#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
@media(max-width:1199px) {
#ninja-slider {
	width: 80%;
}
#thumbnail-slider {
	height: 350px !important;
}
}
@media(max-width:991px) {

	
#ninja-slider {
	width: 76%;
}
#ninja-slider ul {
	height: 400px !important;
}
#ninja-slider.fullscreen #ninja-slider-prev {
	left: 0;
}
#ninja-slider.fullscreen #ninja-slider-next {
	right: 0;
}
#ninja-slider.fullscreen {
	top: inherit !important;
}
#ninja-slider.fullscreen .fs-icon {
	top: 97px !important;
}
#ninja-slider div.fs-icon {
	background: #000;
	border: none;
}

#ninja-slider-prev, #ninja-slider-next{
	top:38%;
}
#thumbnail-slider {
	height: 305px !important;
}
#ninja-slider ul {
	height: 300px !important;
}

}
@media(max-width:767px) {
#ninja-slider {
	width: 82%;
}
#ninja-slider.fullscreen {
	top: inherit !important;
}
#ninja-slider ul {
	height: 335px !important;
}
}
@media(max-width:640px) {
#ninja-slider {
	width: 77%;
}
}
@media(max-width:480px) {
#ninja-slider {
	width: 83%;
}
}
 @media(max-width:380px) {
#ninja-slider {
	width: 80%;
}
}
 @media(max-width:360px) {
#ninja-slider .ns-img {
	height: 340px !important;
}
#ninja-slider ul {
	height: 340px !important;
}
}
