@import url('https://fonts.googleapis.com/css?family=Changa:300,400,500,600,700&display=swap');

@font-face {
  font-family: 'Changa', sans-serif;
  src: url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
	margin:0;
	padding:0;
	}
body{
	background-position:top;
	background-color:#fff;
	font-size:12px;
	color:#454545;
	margin:0;
	padding:0;
	}	
.clear{
	clear:both;
	}	
ul{
	list-style:none;
	margin:0px !important;
	}	
:focus{
	outline:none !important;
	transition:0.3s;
	}
a:hover{
	text-decoration:none !important;
	transition:0.3s;
	}		
a{
	text-decoration:none;
	}	
a img{
	border:none;
	}	
h1{
	font-size:25px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h2{
	font-size:22px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h3{
	font-size:20px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h4{
	font-size:18px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h5{
	font-size:15px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h6{
	font-size:14px;
	color:#454545;
	margin:0;
	padding:0;
	}	
p{
	font-family: 'Changa', sans-serif;
	font-size:12px;
	color:#454545;
	margin:0 !important;
	padding:0;
	}	
.wrapper{
	float:left;
	width:100%;
	}
		







	
.main-header{
	float:left;
	width:100%;
	}
.top-header{
	float:left;
	width:100%;
	background:#2486e1;
	height:38px;
	}
.welcome-text {
	float: right;
	width: auto;
	color: #edecec;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin: 10px 0 !important;
	text-align:right;
}
.user-area{
	float:left;
	width:auto;
	}	
.language-area {
	float: right;
	width: 74px;
	border-right: 1px solid #186fc0;
	padding: 0px 12px 0px;
	position: relative;
	text-align: center;
	line-height: 35px;
}
.language-area a {
	color: #edecec;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
}
.language-area a:hover {
	color: #ef1600;
}
.favorite {
	float: right;
	width: auto;
	border-right: 1px solid #186fc0;
	padding: 0px 12px;
	line-height: 35px;
}
.favorite a{
	color: #edecec;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	}
.favorite a:hover{
	color:#ef1600;
	}
/*=================after login css====================*/
.after_login {
	float: right;
	width: auto;
	position: relative;
	border-right: 1px solid #186fc0;
	padding: 0px 12px;
	line-height: 35px;
}
.after_login a {
	color: #edecec;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
}
.after_login a:hover {
	color:#ef1600;
	transition: all 0.3s ease;
}
.after_login a span {
	width: 45px;
	height: 45px;
	display: inline-block;
	border-radius: 50%;
	background: #E6E7E2;
	overflow: hidden;
	float: left;
	margin: -7px 7px 0 0;
}
.after_login a span img {
	width: 100%;
}
.show01 {
	display: none;
	position: absolute;
	z-index: 99;
	background: #FBFBFB;
	top: 38px;
	right: 0;
	width: 164px;
	border-radius: 3px;
	padding: 3px 0 7px 0;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.show01 ul li a {
	color: #484747;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	padding: 2px 14px;
	display: block;
	line-height: 26px;
	text-align:right;
}
.show01 ul li a:hover {
	color:#ef1600;
	transition: all 0.3s ease;
}

/*=================after login css====================*/



.middle_head{
	float:left;
	width:100%;
	background:#fff;
	border-bottom:1px solid #eeeeee;
	}
.logo {
	float: right;
	padding: 4px 0;
}
.right_search {
	float: left;
	width: 56%;
	padding: 17px 0;
}
.left_search {
	float: right;
	width: 75%;
	border-radius: 2px 0 0 2px;
	position: relative;
	/*overflow: hidden;*/
	border: 1px solid #e0e0e0;
}
.search_type {
	float: right;
	width: 85%;
	border: none;
	height: 46px;
	padding: 10px 41px 10px 26px;
	font-family: 'Changa', sans-serif;
	font-size: 15px;
	color: #000;
	background: rgb(255,255,255) url("../images/head_search1.png") no-repeat right center;
	text-align: right;
}
.search_submit {
	position: absolute;
	left: 0;
	background: #ef1600;
	height: 46px;
	padding: 12px 22px;
	color: #fff;
	font-size: 16px;
	font-family: 'Changa', sans-serif;
	font-weight: 400;
	border: none;
	cursor: pointer;
}
.search_submit:hover{
	background:#2486e1;
	}
.right_cart {
	float: left;
	width: 135px;
	position: relative;
	padding-top: 5px;
	text-align:right;
}
.right_cart a{
	width:100%;
	float:left;
	}
.right_cart a img {
	float: right;
	margin-left: 9px;
}
.right_cart span {
	float: left;
	font-family: 'Changa', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #000;
}
.right_cart a:hover span{
	color:#ef1600;
	}


/*============BANNER============*/

.banner {
	float: left;
	width: 100%;
}
.banner .carousel-inner img {
	width: 100%;
}
.banner .ban_contain {
	position: absolute;
	z-index: 9;
	top: 0;
	width: 100%;
}
.ban_caption {
	color: #fff;
	float: left;
	width: 100%;
	text-align: right;
	margin-top:60px;
}
.ban_caption h4 {
	color: #fff;
	font-family: 'Changa', sans-serif;
	font-weight: 400;
	font-size: 30px;
	margin: 0px !important;
}
.ban_caption h1 {
	color: #fff;
	font-family: 'Changa', sans-serif;
	font-weight:500;
	font-size:50px;
	line-height:50px;
	float: none;
	width: 100%;
	margin: 10px 0;
}
.ban_caption h3{
	color: #ef1600;
	font-family: 'Changa', sans-serif;
	font-weight:500;
	font-size:34px;
	float: left;
	width: 100%;
}
.ban_caption p {
	color: #fff;
	font-family: 'Changa', sans-serif;
	font-size: 18px;
	float: right;
	width: 100%;
	line-height: 22px;
	margin-bottom: 27px !important;
	text-align: right;
}
.ban-btn {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	background: #ef1600;
	border-radius: 34px;
	padding: 10px 35px;
	display: inline-block;
}
.ban-btn:hover {
	color: #fff;
	background: #2486e1;
}

.carousel-indicators {
	left: 9% !important;
	bottom: 46% !important;
	/* left: inherit !important; */
	width: 18px;
}
.carousel-indicators li {
	float: left;
	width: 12px !important;
	height: 12px !important;
	background: #fff !important;
	border-radius: 50%;
	margin-bottom: 8px;
}
.carousel-indicators {
	display: block !important;
}
.carousel-indicators .active {
	background-color: #0aba51 !important;
	width: 12px !important;
	height: 12px !important;
}
/*============BANNER============*/	

.available-area {
	float: left;
	width: 100%;
	background-size: cover !important;
	padding: 50px 0 45px 0;
	background: #206185 url("../images/available-bg.jpg") no-repeat;
	text-align: center;
	color: #fff;
}
.available-area h3 {
	font-size: 56px;
	font-family: 'Changa', sans-serif;
	margin-bottom: 8px;
	font-weight: 600;
}
.available-area p {
	color: #fff;
	font-size: 18px;
	font-family: 'Changa', sans-serif;
	font-weight: 400;
	margin-bottom: 22px !important;
	width: 45%;
	line-height: 28px;
	float: none;
	display: inline-block;
}
.available-area a {
	display: inline-block;
	margin: 0 3px;
}
.available-area a:hover {
	opacity: 0.7;
}


/*============Foote startr============*/
.main_fotter {
	float: left;
	width: 100%;
	background-size: cover !important;
	background: url("../images/fotter_bg.jpg") no-repeat center center;
}
.fot_box{
	float:left;
	width:100%;
	}
.fot_box .fot_logo {
	margin-bottom: 10px;
	display: block;
}
.fot_box p {
	color: #9f9d9d;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	line-height: 23px;
	margin-bottom: 7px !important;
	width:100%;
	text-align:right;
}
.fot_box a {
	color: #ef1600;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	float:right;
}
.fot_box a:hover{
	color:#0771d4;
	}
.fot_box h3 {
	color: #595959;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom:26px;
	text-align:right;
}
.fot_box ul{
	float:left;
	width:100%;
	}
.fot_box ul li{
	float:left;
	width:100%;
	margin-bottom:6px;
	}
.fot_box ul li a{
	float: left;
	width: 100%;
	color:#8c8c8c;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	text-transform: inherit;
	text-align:right;
}
.fot_box ul li a:hover{
	color:#e01b22;
	}	
.fot_box ul li p {
	float: left;
	width: 100%;
	color:#7b7b7b;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	text-transform: capitalize;
}	
.fot_box ul li span{
	width:30px;
	float:right;
	}
.fot_box ul li span img {
	float: right;
	margin-top: 2px;
}	
.fot_box ul li p {
	float: right;
	width: 85%;
	line-height: 22px;
	margin-bottom: 5px;
}
.fot_box2{
	padding:0 45px;
	}
.top_fotter {
	padding: 50px 0 25px 0;
	float: left;
	width: 100%;
}	
.middle_fotter {
	float: left;
	width: 100%;
	padding: 27px 0 20px 0;
	border-top: 1px solid #d3d3d3;
	margin-top: 35px;
}
.middle_fotter span {
	color: #007fea;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 8px;
	display: block;
	text-align:right;
}
.middle_fotter ul li{
	float:right;
	}
.middle_fotter ul li a {
	color: #a8a8a8;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
}
.middle_fotter ul li a:hover{
	color:#ef1600;
	}	
.middle_fotter ul li a::after {
	content: "|";
	color: #a8a8a8;
	padding: 0 13px;
	font-weight: 400;
}
.middle_fotter ul li:last-child a::after{
	display:none;
	}
.below_fotter {
	float: left;
	width: 100%;
	padding: 28px 0 25px 0px;
	border-top: 1px solid #d3d3d3;
}
.below_fotter p {
	color: #8c8b8b;
	margin: 0px;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	float: left;
}
.need-help ul li p {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	color: #373d41;
	margin-bottom: 3px !important;
}
.need-help ul li p a {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	color: #373d41;
	margin-bottom: 3px !important;
	text-decoration:underline !important;
}
.right-payment{
	float:right;
	width:auto;
	}
.fot-social {
	float: left;
	width: auto;
	margin-right: 25px;
}
.fot-social ul li {
	float: right;
	margin-right: 5px;
	color: #696969;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	line-height: 30px;
}
.fot-social ul li a{
	display:inline-block;
	width:28px;
	height:28px;
	background:#0d0c0b;
	border-radius:50%;
	line-height:28px;
	text-align:center;
	color:#fff;
	}
.fot-social ul li a:hover{
	background:#1067e9;
	}	
.fot-payment ul li a{
	background:#fff !important;
	}
.fot-payment ul li{
	margin-right:6px;
	}
.fot-payment ul li:hover{
	opacity:0.7;
	}	
.fot-payment ul li:last-child{
	margin-right:6px;
	}	
.fot-payment{
	margin-right:0px !important;
	}

/*============Footer end============*/

.best-seller{
	float:left;
	width:100%;
	padding:50px 0 40px 0;
	background:#fff;
	}
.section-header{
	float:left;
	width:100%;
	text-align:center;
	}
.section-header h2{
	color: #000;
	font-size: 32px;
	font-weight: 700;
	font-family: 'Changa', sans-serif;
	text-transform:uppercase;
	margin-bottom:14px !important;
	}
.section-header h2 span{
	background:#fff;
	padding:0 25px;
	display:inline-block;
	border-left:1px solid #0771d4;
	border-right:1px solid #0771d4;
	}
.section-header-line {
	float: left;
	width: 100%;
	height: 1px;
	background: #0771d4;
	margin-top: -33px;
}
.section-header p {
	color: #636161;
	font-size: 14px;
	font-family: 'Changa', sans-serif;
	font-weight: 400;
	line-height: 24px;
	display: inline-block;
	width: 60%;
}

.best-seller .owl-nav {
	display: none;
}
.best-seller .owl-dots {
	margin-top: 15px;
	text-align: center;
}	
.best-seller .owl-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #a6a6a6;
	display: inline-block;
	margin: 0 4px;
}
.best-seller .owl-dots .active{
	background:#007fea;
	}
.all-seller{
	float:left;
	width:100%;
	margin-top:30px;
	}
.seller_box {
	border: 1px solid #d3d3d3;
	padding: 10px;
	float: left;
	width: 100%;
}
.seller_box img {
	display: inline-block;
	margin: 6px 0 8px 0;
	max-height: 50px;
}
.seller_box p{
	float:left;
	width:100%;
	text-align:center;
	text-align:center;
	color:#343434;
	font-size:15px;
	font-weight:500;
	font-family: 'Changa', sans-serif;
	}
.deals-area {
	float: left;
	width: 100%;
	background: #fafafa;
	padding: 37px 0 22px 0;
}
.deals-area .section-header h2 span{
	background:#fafafa;
	}
.main-deals{
	float:left;
	width:100%;
	margin-top:25px;
	}
.deals-box{
	float:left;
	width:100%;
	}
.deals-image {
	float: left;
    width: 100%;
    border: 1px solid #d3d3d3;
    overflow: hidden;
    position: relative;
    background: #fff;
    min-height: 340px;
}
.deals-image img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
	}
.deals-dtls {
	float: left;
	width: 100%;
	text-align: center;
	padding: 12px 8px;
}
.deals-dtls h4 {
	font-size: 21px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom:6px;
}
.deals-dtls h4 a{
	color: #515050;
	}
.deals-dtls h4 a:hover{
	color: #187ad7;
	}
.deals-dtls p{
	font-size: 19px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	color:#555758;
}
.deals-dtls p strong {
	text-decoration: line-through;
	font-weight: 500;
	margin-right: 5px;
}
.deals-dtls p span{
	color:#e20000;
	margin-left:10px;
	}
.orrer-circel {
	position: absolute;
	z-index: 5;
	background: #00cf6b;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	padding: 11px;
	line-height: 15px;
	top: 10px;
	left: 10px;
}
.fav-span {
	position: absolute;
	z-index: 6;
	top: 10px;
	right: 15px;
	color: #d90000;
	font-size: 18px;
}
.fav-span:hover{
	color:#2486e1;
	}


.deals-area .owl-dots{
	display:none;
	}
.deals-area .owl-nav {
	position: absolute;
	top: 32%;
	width: 100%;
}
.deals-area .owl-nav .owl-prev{
	background: url("../images/deats-left.png") no-repeat;
	height:71px;
	width: 38px;
	text-indent: -100092%;
	float: left;
	left: -50px;
	position: absolute;
	}	
.deals-area .owl-nav .owl-next{
	background: url("../images/deats-right.png") no-repeat;
	height:71px;
	width: 38px;
	text-indent: -100092%;
	float: right;
	right: -50px;
	position: absolute;
	}
.deals-area .owl-nav .owl-prev:hover, .deals-area .owl-nav .owl-next:hover{
	opacity:0.7;
	}
.all-products{
	float:left;
	width:100%;
	margin-top:35px;
	}
.new-product {
	float: left;
	width: 100%;
	padding: 55px 0 15px 0;
}
.all-products{
	float:left;
	width:100%;
	margin-top:35px;
	}
.product-box{
	float:left;
	width:100%;
	margin-bottom:30px;
	}

.product-image {
	float: left;
	width: 100%;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	position: relative;
	background: #fff;
	min-height: 340px;
}
.product-image img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
	}
.product-dtls{
	float:left;
	width:100%;
	padding:10px;
	text-align:center;
	}
.product-dtls h4 {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
}
.product-dtls h4 a{
	color: #000;
	}
.product-dtls a:hover{
	color: #187ad7;
	}
.product-dtls p {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	color: #555758;
}
.product-dtls p strong {
	text-decoration: line-through;
	font-weight:500;
	margin-right: 4px;
}
.product-dtls p span{
	color:#e20000;
	margin-left:8px;
	}
.product-dtls h3 {
	text-align: center;
	float: left;
	width: 100%;
	color: #414141;
	font-size: 15px;
	font-family: 'Changa', sans-serif;
	font-weight: 400;
	padding-bottom: 8px;
	background: url("../images/seller-border.png") no-repeat center bottom;
	margin-bottom: 7px;
}
.new-sale {
	position: absolute;
	z-index: 5;
	background: #0771d4;
	width: auto;
	height: 38px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	padding: 9px 12px;
	top: 26px;
	left: -15px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}


.scrool-area {
	float: left;
	width: 100%;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 4px 2px 10px -1px rgba(0,0,0,0.2);
	margin-top: 35px;
}
.scrool-area .seller_box{
	border:none;
	border-right:1px solid #d8d8d8;
	height:140px;
	text-align:center;
	padding:10px 0;
	}
.scrool-area .seller_box:hover{
	cursor:pointer;
	background:#0f82ed;
	}
.scrool-area .seller_box:hover h5, .scrool-area .seller_box:hover p{
	color:#fff;
	}		
.scrool-area .seller_box img {
	width: auto !important;
	float: none;
	display: inline-block !important;
}
.scrool-area .seller_box h5 {
	color: #3f434e;
	font-size: 19px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
}
.scrool-area .seller_box p{
	color:#7f8080;
	font-size:14px;
	font-weight:400;
	}

.scrool-area .owl-nav, .scrool-area .owl-dots{
	display:none;
	}
.featured-area {
	float: left;
	width: 100%;
	padding: 40px 0 5px 0;
}
.all-featured{
	float:left;
	width:100%;
	margin-top:18px;
	}
.featured_box {
	float: left;
	width: 100%;
	margin-left: 10px;
}


.featured-images {
	float: left;
	width: 100%;
	/*overflow: hidden;*/
	position: relative;
	background: #fff;
	min-height: 390px;
}
.featured-images img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
	}
.featured-dtls {
	float: left;
	width: 100%;
	text-align: center;
	padding: 25px 15px;
}
.featured-dtls h4 {
	color: #0f1010;
	font-size: 22px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.featured-dtls h6 {
	color: #ef1600;
	font-size: 21px;
	font-weight:400;
	margin-bottom: 8px;
	font-family: 'Rubik', sans-serif;
}
.featured-dtls h6 span{
	color:#555758;
	font-size:16px;
	font-weight: 400;
	text-decoration: line-through;
	margin-right:7px;
	}
.featured-dtls p {
	color: #4e4d4d;
	font-size: 15px;
	font-weight: 300;
	font-family: 'Changa', sans-serif;
	line-height: 22px;
}
.Shop-now {
	color: #101010;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	border: 1px solid #7e7e7e;
	padding: 7px 40px;
	display: inline-block;
	margin-top: 15px;
	text-transform: uppercase;
}
.Shop-now:hover{
	background:#0f82ed;
	border:1px solid #0f82ed;
	color:#fff;
	}


.featured-area .owl-nav{
	position:absolute;
	top:32%;
	width:100%;
	}
.featured-area .owl-dots{
	display:none;
	}
.featured-area .owl-nav .owl-prev {
	background: url("../images/left-arw-h.png") no-repeat;
	height: 16px;
	width: 9px;
	text-indent: -100092%;
	float: left;
	margin-left: 27px;
}
.featured-area .owl-nav .owl-prev:hover {
	background: url("../images/left-arw-h.png") no-repeat;
}
.featured-area .owl-nav .owl-next{
	background: url("../images/right-arw-h.png") no-repeat;
	height: 16px;
	width: 9px;
	text-indent: -100092%;
	float: right;
	margin-right:17px;
	}
.featured-area .owl-nav .owl-next:hover{
	background: url("../images/right-arw-h.png") no-repeat;
	}
.new-sale2 {
	position: absolute;
	z-index: 5;
	background: #0aba51;
	width: auto;
	height: 35px;
	border-radius: 2px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	padding: 8px 12px;
	top: 26px;
	left: -7px;
}
.new-sale2::before {
	content: "";
	width: 0;
	height: 0;
	border-top: 7px solid #006127;
	border-left: 7px solid transparent;
	position: absolute;
	top: 35px;
	left: 1px;
}
.featured-area .fav-span{
	margin-right:12px;
	}

/*=================menu start=============*/
.menu_area {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
	box-shadow: 1px 2px 4px rgba(45, 44, 44, 0.2);
}
.menu_area .navbar {
	margin-bottom: 0px !important;
	min-height: 0px !important;
	background: none !important;
	border: none !important;
	width: 100%;
	padding: 0;
}
.menu_area .navbar-nav li a {
	color: #1f1f1f !important;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	padding: 12px 12px;
	text-transform: capitalize;
	display: inline-block;
}
.menu_area .navbar-nav li a:hover, .menu_area .navbar-nav li a:focus, .menu_area .navbar-nav li a.active{
	color:#ef1600 !important;
	}	
.menu_area .navbar-nav li a i{
	font-size:17px;
	}	
/*.menu_area .navbar-nav li:first-child a {
	padding: 6px 4px 6px 0px;
}	*/
/*#m1{
	background: #f29302 !important;
	}*/	
.menu_area .make_arrow {
  /*float: right !important;*/
  font-size: 17px !important;
  margin: 2px 0 0 5px !important;
}
.cnt {
  position: relative;
  width:100%;
  height:auto !important;
}
.menu-expend {
	position: absolute;
	z-index: 9999;
	border-top: none;
	left: 0;
	top: 42px;
	width: 100%;
}		
.menu-expend .container{
	}	
.cnt ul {
	width: 100% !important;
	/* float: left; */
	/* padding-top: 6px; */
	/* height: auto !important; */
}	
.cnt ul li{
	width:25% !important;
	}	
.white-panel {
	padding:0px 15px 2px 2px !important;
	float: left;
	text-align:right;
	border-right:1px solid #e9e9e9;
	border-left:inherit !important;
}
.white-panel .title {
	font-size: 15px;
	font-weight: 500;
	color: #0b73d4;
	font-family: 'Changa', sans-serif;
}	
/*.white-panel .title:hover, .white-panel .title:focus{
	color:#f29302;
	}*/
.cnt ul li ul{
	width:100% !important;
	}
.cnt ul li ul li{
	width:100% !important;
	}		
.cnt ul li ul li a{
	color:#323434;
	font-size:14px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	margin-bottom:6px;
	display:block;
	text-transform: capitalize;
	}	
/*.cnt ul li ul li:first-child{
	float:left;
	margin-top:6px;
	}*/	
.cnt ul li ul li a:hover, .cnt ul li ul li a:focus{
	color:#ef1700;
	}		
.nwsubmnu {
	display: inline-block;
	width: 100% !important;
	float: left;
	background: #fff;
}	
/*.blog-landin_graw{
	background:#f9f9f9 !important;
	}*/	
/*06.10.17*/	
@media (max-width: 767px) {
  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #fff;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }
   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }
}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }

}  
.menu_area .navbar-inverse .navbar-nav > .open > a,.menu_area .navbar-inverse .navbar-nav > .open > a:focus,.menu_area .navbar-inverse .navbar-nav > .open > a:hover{
	background:#f29302 !important;
	}
.menu_area .open_mmnu{
	width: 240px;
	padding-top:0px !important;
}
.menu_area .open_mmnu li{
	width:100%;
	}
.menu_area .open_mmnu li:first-child{
	padding-top:5px;
	}	
.menu_area .open_mmnu li a{
	color: #737474 !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	font-family: 'Roboto', sans-serif !important;
	display:block !important;
	padding:4px 13px;
	text-transform: capitalize;
	}	
.menu_area .open_mmnu li a:hover,.menu_area .open_mmnu li a:focus{
	color:#f29302 !important;
	background:none !important;
	} 
.blog-landin {
	border-right: 1px solid #e2e2e2;
	padding-top: 0px !important;
	text-align: right;
	padding-right: 10px;
}
.last-landing{
	border-right:none !important;
	}	
#m1 span{
	display:none;
	}	
	
			
/*megamenu end*/

/*=================menu end=============*/


/*tapan	*/
.login-page {
	width: 100%;
	float: left;
	padding: 60px 0;
}
.login-section {
	max-width: 870px;
	/* margin-top: 30px; */
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;
	padding: 0 0;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0px 2px 8px 2px rgba(132, 132, 132, 0.1);
}
.login-from {
	max-width: 100%;
	padding: 0 0 0 0;
}

.login-from .form-group{
	float:left;
	width:100%;
	}
.login-from label {
	color: #333333;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
}
.login-from input[type="text"] {
	background: none;
	border: 1px solid #e0e0e0;
	border-radius:3px;
	color: #666666;
	float: left;
	font-family: 'Changa', sans-serif;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	/* max-width: 532px; */
	text-align:right;
}
.login-from input[type="password"] {
	background: none;
	border: 1px solid #e0e0e0;
	border-radius:3px;
	color: #878787;
	float: left;
	font-family: 'Changa', sans-serif;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	/* max-width: 532px; */
	box-shadow: none;
	text-align:right;
}
.login-from input[type="submit"] {
	background: #2486e1;
	border: medium none;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 25px;
	float: right;
	width: 130px;
	text-align: center;
	cursor: pointer;
	font-family: 'Changa', sans-serif;
}
.login-from input[type="submit"]:hover {
	background: #d01300;
}
.login-from a {
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	color: #d01300;
	float: left; 
	text-decoration: none;
	display: inline-block;
}
.login-from a:hover {
	color: #2486e1;
}

.rjstr-not {
	width: 100%;
	text-align: left;
	float:left;
}
.rjstr-not h3 {
	color: #141414;
	font-size: 23px;
	font-family: 'Changa', sans-serif;
	float: left;
	font-weight:400;
	width: 100%;
	margin: 0;
	text-align:right;
}
.rjstr-not p {
	color: #747474;
	font-size: 12px;
	font-family: 'Changa', sans-serif;
	float: left;
	font-weight: normal;
	width: 100%;
	text-align:right;
	margin-top: 10px !important;
}
.job-sekr{
	margin-top: 20px;
	width: 100%;
}
.job-sekr a{
	width:100%;
	float:left;
	text-align:left;
	margin:5px 0;
	}
.job-sekr a img{
	max-width:100%;
	float:right;
	}
.job-sekr a:hover img{
	opacity:0.8;
	}
	

.lgn-lftfrm{
	width:55%;
	float:left;
	border-right: 1px solid #bfbfbf;
	padding:15px 50px 4px 30px;
	position:relative;
	}
.lgn-lftfrm h3 {
	color: #141414;
	font-size: 23px;
	font-family: 'Changa', sans-serif;
	float: left;
	font-weight:400;
	width: 100%;
	text-align: right;
	margin-bottom:12px;
}
.lgn-lftfrm p {
	color: #394a4d;
	font-size: 14px;
	font-family: 'Changa', sans-serif;
	float: left;
	font-weight: 400;
	width: 100%;
	margin: 0 0 22px !important;
	text-align: right;
}
.or{
	position: absolute;
	right: -26px;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
}
.or span {
	display: inline-block;
	width:49px;
	height:49px;
	border-radius:50%;
	line-height:47px;
	background: #fff;
	text-align: center;
	font-family: 'Changa', sans-serif;
	color:#878787;
	font-style:italic;
	font-size:15px;
	position: relative;
	font-weight: 400;
	border-radius: 50%;
	/* box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); */
	border:1px solid #d9d9d9;
}

.lgn-rght{
	width:45%;
	float:right;
	padding:15px 30px 15px 50px;
	}



.logchk{
	width:100%;
	float:left;
	}

/*========
Check box start 
=========*/

.checkbox-group {
	position: relative;
	margin: 0;
	float: right;
	width: auto;
}
.checkbox-group input[type=checkbox] {
    display:none
}
.checkbox-group label {
	padding-right:26px;
	cursor: pointer;
	color: #5e5e5e;
	font-size: 15px;
	font-weight:300;
	font-family: 'Changa', sans-serif;
	line-height: 17px;
	text-align:right;
}
.checkbox-group label span {
    display:block;
    position:absolute;
    right:0;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    transition-duration:.3s;
}
.checkbox-group label .box {
	background: #fff;
	height: 17px;
	width: 17px;
	z-index: 9;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	transition-delay: .2s;
	border: 2px solid #adafb0;
	border-radius:2px;
}
.checkbox-group label .check {
	top: 6px;
	right: 6px;
	width: 6px;
	height: 11px;
	border: 2px solid #fff;
	border-top: none;
	border-left: none;
	opacity: 0;
	z-index: 10;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	transition-delay: .3s;
}
input[type="checkbox"]:checked ~ label .box {
	background: #2486e1;
	border: 1px solid #2486e1;
}
input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform:scale(1) rotate(45deg);
    -moz-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
.checkbox-group label b {
	color: #0097ff;
	font-weight: normal !important;
}
/*========
Check box End 
=========*/

.nwusr{
	width:100%;
	float:left;
	margin-top:92px;
	}
.nwusr h6{
	color: #000000;
	font-size: 15px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	width:100%;
	float:left;
	margin-bottom:0;
	text-align:right;
	}
.nwusr h6 a{
	color: #dc1703;
	text-decoration:underline;
	}
.nwusr h6 a:hover{
	color: #2486e1;
	text-decoration:underline;
	}





.login_body {
	max-width: 356px;
	margin: 0 auto;
	margin-bottom: 50px;
	overflow: hidden;
}
.login_body p {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	text-align: left;
	margin: 10px 0;
	float: left;
	width: 100%;
	text-align: center;
}
.login_body p a {
	color: #fff;
	font-weight: 500;
	text-decoration: underline;
}
.login_body p a:hover {
	color: #ef1600;
}
.login_sec {
	border: 1px solid #ececec;
	border-radius: 4px;
	min-height: 280px;
	width: 100%;
	padding: 15px 20px;
	float: left;
	background:#fff;
	margin-bottom:10px;
	text-align:right;
}
.login_sec input[type="text"] {
	background: #fff;
	height: 49px;
	border: 1px solid #cccbcb;
	border-radius: 3px;
	width: 100%;
	padding: 0 14px;
	color: #a6a6a6;
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin-bottom: 14px;
	transition: all 0.3s ease;
	text-align:right;
}
.login_sec input[type="password"] {
	background: #fff;
	height: 49px;
	border: 1px solid #cccbcb;
	border-radius: 3px;
	width: 100%;
	padding: 0 14px;
	color: #a6a6a6;
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin-bottom: 14px;
	transition: all 0.3s ease;
	text-align:right;
}
.login_submit {
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
	background: #0771d4;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	height: 48px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 0;
	text-transform: capitalize;
	margin: 0 0 0 0;
	transition: all 0.3s ease;
	line-height: 48px;
}
.login_submit:hover {
	color: #fff;
	transition: all 0.3s ease;
	background: #ef1600;
}
.orbdr {
	width: 100%;
	float: left;
	margin: 30px 0;
	position: relative;
	text-align: center;
	height: 1px;
	background: #d7d7d7;
}
.orbdr span {
	font-family: 'Changa', sans-serif;
	width: 25px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	color: #484747;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: -9px;
	background: #FFF;
	width: 128px;
	font-weight: 400;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}
.sgnupbnr{
	width:100%;
	float:left;
	background:#fff url(../images/signup.jpg) no-repeat center center;
    background-size: auto;
	min-height: 365px;
	background-size: cover;
	padding:50px 0;
	}
.login_sec h3{
	color:#141414;
	font-size: 23px;
	font-family: 'Changa', sans-serif;
	float: left;
	font-weight: 500;
	width: 100%;
	text-align: right;
	margin-bottom: 7px;
	}
.login_sec p {
	color: #394a4d;
	font-size: 15px;
	font-family: 'Changa', sans-serif;
	float: left;
	font-weight: 400;
	width: 100%;
	margin: 0 0 15px !important;
	text-align: right;
	word-break: break-word;
}

.f_name {
	float: left !important;
	width: 48.6% !important;
}
.f_name a{
	float:left;
	}
.f_name a img{
	max-width:100%;
	}
.f_name a:hover img{
	opacity:0.8;
	}

.l_name {
	float: right !important;
	width: 48.6% !important;
}
.l_name a img{
	max-width:100%;
	}
.l_name a:hover img{
	opacity:0.8;
	}
.sgnupchk {
	font-size: 13px !important;
	text-align: center;
}
.sgnupchk .check {
	top: 2px !important;
}
.name_field .logchk{
	margin-bottom:8px !important;
	}

.search-body{
	float:left;
	width:100%;
	padding:30px 0;
	}

.bed-cumb {
	float: left;
	width: 100%;
}
.bed-cumb .breadcrumb {
	background: none;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	text-align: right;
	width:100%;
}
.bed-cumb .breadcrumb-item {
	color: #626567;
	font-weight: normal;
	font-size: 15px;
	font-family: 'Changa', sans-serif;
	padding-left: 0px !important;
	width: auto;
	float: right;
}
.bed-cumb .breadcrumb-item a {
	color: #626567;
}
.bed-cumb .breadcrumb-item a:hover{
	color:#d61401;
	}
.bed-cumb .breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	color: transparent;
	background: url("../images/bed-cumb.png") no-repeat center center;
	content: ".";
	float:right;
}
.bed-cumb .breadcrumb-item.active {
	color: #d61401;
}

.search-area {
	float: left;
	width: 100%;
	margin-top: 21px;
}
.left-search{
	float:right;
	width:25%;
	background:#fcfcfc;
	border:1px solid #f6f6f6;
	padding:13px;
	}
.search-box {
	float: left;
	width: 100%;
	margin: 10px 0 20px 0;
}
.search-box h3 {
	color: #1f1f1f;
	font-size: 23px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 6px;
	margin-bottom: 18px;
	text-align:right;
}
.sub-categori {
	float: left;
	width: 100%;
}
.sub-categori li {
	float: left;
	width: 100%;
	margin-bottom: 7px;
	margin-top: 3px;
}
.sub-categori li a{
	float:left;
	width:100%;
	color:#2d2d2d;
	font-weight:400;
	font-size:14px;
	font-family: 'Changa', sans-serif;
	text-align:right;
	}
.sub-categori li a:hover{
	color:#d61703;
	}	
.sub-categori li a span{
	float:left;
	}
.see-all {
	float: right;
	width: auto;
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Changa', sans-serif;
	background: #00cf6a;
	border-radius: 3px;
	padding: 5px 10px;
	line-height: 22px;
	margin-top: 9px;
	height: 30px;
}
.see-all:hover{
	color:#fff;
	background:#0771d4;
	}
.brand {
	float: left;
	width: 100%;
	/*margin-top: 7px !important;*/
}
.brand li{
	float:left;
	width:100%;
	margin-bottom:8px;
	}	
.search-box .checkbox-group label .box {
	border: 1px solid #adafb0;
	border-radius: 1px;
}
.search-box .checkbox-group label{
	float:left;
	width:100%;
	color:#2d2d2d;
	font-weight:400;
	font-size:14px;
	font-family: 'Changa', sans-serif;
	}
.search-box .checkbox-group label strong{
	font-weight:400;
	float:left;
	}	
.search-box .checkbox-group{
	float:left;
	width:100%;
	}
.search-box input[type="checkbox"]:checked ~ label .box {
	background: #262f36;
	border: 1px solid #262f36;
}
.search-box .checkbox-group label .check {
	top: 2px;
}

.colour-div{
	float:left;
	width:100%;
	}
.colour-div li {
	float: left;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 5px;
}
.colour-div .checkbox-group label .box{
	width:24px;
	height:24px;
	border-radius:50%;
	}
.colour-div .checkbox-group label{
	padding-right:33px;
	line-height:24px;
	}
.colour-div .checkbox-group label .check {
	top: 6px;
	right: 9px;
}
.light-blue .checkbox-group label .box{
	background:#0aa1ef !important;
	border:1px solid #0aa1ef !important;
	}
.brown .checkbox-group label .box{
	background:#c54f00 !important;
	border:1px solid #c54f00 !important;
	}
.orange .checkbox-group label .box{
	background:#f5a701 !important;
	border:1px solid #f5a701 !important;
	}
.red .checkbox-group label .box{
	background:#ff031b !important;
	border:1px solid #ff031b !important;
	}
.size-div{
	float:left;
	width:100%;
	margin-top:3px !important;
	}
.size-div li {
	float: right;
	margin: 0 0px 10px 10px;
}
.size-div li a{
	display:inline-block;
	color:#2d2d2d;
	font-weight:400;
	font-size:14px;
	font-family: 'Changa', sans-serif;
	border:1px solid #d3d3d3;
	padding:5px 16px;
	background:#fff;
	}
.size-div li a:hover{
	background:#deffe8;
	border:1px solid #08ce45;
	}
.slider_rnge {
	/* margin-top: 12px; */
	float: left;
	display: block;
	/*overflow: hidden;*/
	width: 100%;
	height: auto;
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
.slider_rnge .ui-widget-header {
	background: #000 !important;
}
.slider_rnge .ui-slider-horizontal {
	background: #000 none repeat scroll 0 0 !important;
	border: medium none !important;
	height: 5px !important;
	margin: 0;
}

.slider_rnge .ui-state-default, .slider_rnge .ui-widget-content .ui-state-default, .slider_rnge .ui-widget-header .ui-state-default {
	border-radius: 50% !important;
	height: 15px !important;
	top: -5px !important;
	width: 15px !important;
}
.slider_rnge input[type="text"] {
	color: #333 !important;
	float: right;
	font-family: 'Changa', sans-serif;
	font-size: 16px !important;
	height: 24px !important;
	padding: 0 !important;
	position: relative;
	width: 100%;
	margin: 15px 0 9px 0px;
	border: 0 none !important;
	text-align: right;
}
.search-submit {
	color: #fff;
	font-family: 'Changa', sans-serif;
	font-size: 16px;
	display: inline-block;
	padding: 6px 25px;
	background: #ef1600;
	border-radius: 3px;
	font-weight: 500;
	border: none;
	cursor:pointer;
	float:right;
}
.search-submit:hover{
	background:#0771d4;
	color:#fff;
	}
.right-search {
	float: left;
	width: 72.5%;
}
.result-found{
	float:left;
	width:100%;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	padding:10px 0;
	margin-bottom:15px;
	}
.result-found h4 {
	float: right;
	width: auto;
	color: #000;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin: 0px;
	line-height: 37px;
}
.sort-filter {
	float: left;
	width: auto;
}
.sort-filter p {
	float: right;
	width: auto;
	color: #030303;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Changa', sans-serif;
	margin-left: 12px !important;
	text-transform: uppercase;
	line-height: 36px;
}
.sort-select {
	height: 36px;
	border: 1px solid #cccbcb;
	font-size: 14px;
	font-family: 'Changa', sans-serif;
	font-weight: 400;
	color: #000;
	padding: 5px 8px 5px 45px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../images/drp-arw1.png") no-repeat left;
	cursor: pointer;
	text-align: right;
}
.all-results {
	float: left;
	width: 100%;
}
.all-results .product-image{
	min-height:334px;
	}
.all-results .fav-span {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	color: #676767;
	background: #fff;
	line-height: 35px;
	font-size: 18px;
	box-shadow:0px 1px 6px 2px rgba(55, 55, 55, 0.1);
}
.all-results .fav-span:hover{
	color: #d90000;
    background: #ffffff;
	}
.search-pagination {
	float: left;
	width: 100%;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 10px 0;
	margin-bottom: 15px;
	text-align: center;
}
.search-pagination ul li{
	display:inline-block;
	margin-right:3px;
	}
.search-pagination ul li a {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #dadada;
	display: inline-block;
	line-height: 42px;
	font-size: 16px;
	font-family: 'Changa', sans-serif;
	color: #5e5e5e;
}
.search-pagination ul li a:hover{
	background:#ef1600;
	color:#fff;
	border:1px solid #ef1600;
	}
.mobile_filter {
	float: left;
	width: 100%;
	min-height: 40px;
	border-radius: 40px;
	cursor: pointer;
	background: #0771d4;
	text-align: center;
	color: #fff;
	padding: 7px;
	display: none;
}
.mobile_filter .fa {
	font-size: 15px;
}
.mobile_filter p {
	float: none;
	color: #fff;
	font-size: 16px;
	width: auto !important;
	display: inline-block;
	margin-left: 5px !important;
	margin-bottom: 0px !important;
}
.mobile_filter:hover {
	background: #00cf6a;
	color:#fff;
}
.mobile_filter:hover p{
	color:#fff;
}
.open-lan {
	position: absolute;
	top: 38px;
	z-index: 9;
	background: #53a6f2;
	width: 75px;
	left: 0;
	padding: 5px 10px;
}
.open-lan li{
	margin-bottom:3px;
	}
.fot_logo {
	float: right;
	width: 100%;
	text-align: right;
}
.menu_area .navbar-nav {
	width: 100%;
	display: inline-block;
}
.menu_area .navbar-nav li{
	float:right;
	}
.fot-payment ul li a{
	width:auto !important;
	}


.alctg{
	position: absolute;
	right: 0;
	list-style-type: none;
}
.navbar-collapse {
	padding-right: 40px;
}

/*new-prakash css start*/
.merchant-banner{
	float:left;
	width:100%;
	min-height:200px;
	background:#ccc url("../images/merchant-banner.jpg") no-repeat left center;
	background-size:cover;
	}
.merchnt-body {
	float: left;
	width: 100%;
	padding-bottom: 5px;
	margin-top: -160px;
}
.about-company{
	float:left;
	width:100%;
	border:1px solid #dedede;
	margin:40px 0;
	background:#fff;
	border-radius:3px;
	}
.left-about {
	float: left;
	width: 70%;
	padding: 15px 20px;
}
.left-about1 {
	float: left;
	width: 70%;
	padding: 15px 20px;
}
.left-about h3{
	font-size: 29px;
	font-weight: 500;
	font-family: 'FuturaPT-Medium';
	margin-bottom:8px;
	color:#000;	
	/*after added*/
    width: fit-content;
    border: 1px solid #000;
    padding: 2px 7px;
	}
	.left-about1 h3{
	font-size: 29px;
	font-weight: 500;
	font-family: 'FuturaPT-Medium';
	margin-bottom:8px;
	color:#000;	
	/*after added*/
    width: fit-content;
    /*border: 1px solid #000;*/
    /*padding: 2px 7px;*/
	}
.left-about p {
	color: #4e4d4d;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	margin-bottom: 12px !important;
}
.left-about a{
	color:#ee1600;
	font-size:17px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	}
.left-about a:hover{
	color:#2486e1;
	}


.left-about1 p {
	color: #4e4d4d;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	margin-bottom: 12px !important;
}
.left-about1 a{
	color:#ee1600;
	font-size:17px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	}
.left-about1 a:hover{
	color:#2486e1;
	}




.right-about {
	background: #f8f8f8;
	float: right;
	width: 30%;
	padding: 25px;
	min-height: 335px;
	text-align:right;
}	
.right-about p{
	float:left;
	width:100%;
	margin-bottom:7px !important;
	}	
.right-about p{
	color:#475057;
	font-size:15px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	}	
.right-about p strong{
	float:left;
	font-weight:400;
	color:#202224;
	width:50%;
	}	
.right-about ul li {
	float: right;
	margin: 0 0px 10px 10px;
}	
.right-about ul li a {
	display: inline-block;
	background: #fff;
	border: 1px solid #afb0b1;
	color: #3f3f3f;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	border-radius: 2px;
	padding: 5px 10px;
	line-height: 27px;
}	
.right-about ul li a:hover{
	color:#fff;
	border:1px solid #30b611;
	background:#30b611;
	}	
.received-review {
	float: left;
	width: 100%;
}	
.received-review h2 {
	color: #000;
	font-size: 26px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 20px;
	text-align:right;
}	
.all-reviews{
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	background: #fff;
	border-radius: 2px;
	padding:17px;
}	
.review-box {
	float: left;
	width: 100%;
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 25px;
	text-align:right;
}
.review-box-head {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}	
.review-box-head span {
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	background: #E6E7E2;
	overflow: hidden;
	position: relative;
	float: right;
	margin-left: 10px;
}	
.review-box-head span img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-height:100%;
	max-width:100%;
	width:auto;
	height:auto;
	}	
.review-box-head h4 {
	color: #202020;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 6px;
}	
.review-box-head ul {
	float: right;
	width: auto;
	margin-left: 15px !important;
}	
.review-box-head ul li{
	float:left;
	margin-right:2px;
	}	
.review-box-head ul li img{
	float:left;
	}	
.review-box-head p {
	color: #1f1d1d !important;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	line-height: 14px !important;
	float: right;
}
.review-box-head p img {
	margin: 1px 0px 0 5px;
	float: right;
}
.review-box h5 {
	color: #262626;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	display: inline-block;
	margin-bottom: 5px;
}
.review-box p {
	color: #616060;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	display: inline-block;
	margin-bottom: 4px !important;
}
.show-more {
	color: #ee1600;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 7px;
	display: inline-block;
}
.show-more:hover{
	color:#0771d4;
	}
.merchant-profile {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dedede;
	position: relative;
}
.pro-merchant {
	padding: 7px;
	background: #fff;
	border: 1px solid #dedede;
	border-bottom: none;
	float: right;
}
.pro-merchant span {
	width: 220px;
	height: 222px;
	display: inline-block;
	background: #eeecec;
	overflow: hidden;
	position: relative;
	float: left;
}
.pro-merchant span img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	margin:auto;
	height: auto;
	}
.merchant-dtls {
	float: right;
	width: 56%;
	padding: 0 35px 0 0px;
}
.merchant-dtls h2 {
	color: #fff;
	font-size: 42px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	line-height: 30px;
	margin-bottom: 13px;
}
.merchant-dtls h3 {
	color: #fff;
	font-size: 20px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 11px;
}	
.merchant-dtls h3 img{
	margin-right:8px;
	}	
.merchant-dtls p{
	color: #fff;
	font-size: 15px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 10px;
} 	
.merchant-dtls ul {
	float: left;
	width: 100%;
	margin-top: 3px !important;
}
.merchant-dtls ul li{
	float:right;
	margin-right:4px;
	}	
.merchant-dtls ul li:hover{
	opacity:0.7;
	}	
.merchant-share {
	float: left;
	width: auto;
	text-align: right;
	padding-top: 99px;
}	
.merchant-share ul li{
	display:inline-block;
	list-style:none;
	margin-right:5px;
	color:#fff;
	font-size: 18px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	float:left;
	}
.merchant-share ul li img:hover{
	opacity:0.7;
	}		
.merchant-share ul li:first-child{
	margin-right:10px;
	}	
.right-merchant {
	float: left;
	width: 78.7%;
	text-align: right;
}
.merchant-status {
	float: left;
	width: 100%;
	margin-top: 29px;
	height: 76px;
}
.merchant-status ul li {
	float: left;
	width: 33.33%;
	border-right: 1px solid #d3d3d3;
	padding: 8px 20px;
}
.merchant-status ul li h4{
	color:#000;
	font-size: 22px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	margin-bottom:5px;
	}
.merchant-status ul li h5{
	color:#27383e;
	font-size: 25px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	margin-bottom:0px;
	font-family: 'Rubik', sans-serif;
	}
.toottrip-area {
	position: fixed;
	top: 208px;
	right: 47px;
	z-index: 99;
}
.toottrip-area ul li{
	list-style:none;
	position:relative;
	}
.toottrip-area ul li a {
	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	background: #ef1600;
	display: inline-block;
	font-size: 31px;
	line-height: 59px;
	border-bottom: 1px solid #e77368;
}
.toottrip-area ul li:last-child a{
	border-bottom:none !important;
	}
.toottrip-area ul li a:hover{
	color:#000;
	background:#fff;
	}
.open-tool {
	display: none;
	position: absolute;
	top: 0px;
	right: 75px;
	background: #fff;
	color: #1f292c;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	min-width: 150px;
	padding: 14px 0px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.open-tool::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 29px;
	right: -5px;
	box-sizing: border-box;
	border: 9px solid #fff;
	transform-origin: 0 0;
	transform: rotate(-45deg);
	/* box-shadow: -4px -4px 6px -3px rgba(0,0,0,0.3); */
}
.toottrip-area ul li:hover .open-tool{
	display:block;
	}
.pro-detls-body {
	float: left;
	width: 100%;
	padding: 30px 0 7px 0;
}









.main-dtls {
	float: left;
	width: 100%;
	margin-top:30px;
}
.pro_slider {
	float: left;
	width: 50%;
}
.pro_slider #amazingcarousel-container-1, .amazingcarousel-list-wrapper, #amazingcarousel-1, .amazingcarousel-list-container{
	height:750px !important;
	}	

.slider-fav {
	color: #fff;
	font-size: 18px;
	width: 34px;
	height: 34px;
	text-align: center;
	background: #ef1600;
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	top: 15px;
	right: 15px;
	line-height: 34px;
}	
.slider-fav:hover{
	background:#09c057;
	color:#fff;
	}
.pro-des {
	float: left;
	width: 50%;
	padding-right: 30px;
}
.prodes-head {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px dashed #c3c2c2;
	padding-bottom:10px;
}
.prodes-head h1 {
	color: #000;
	font-size: 34px;
	text-align:right;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 6px;
}
.prodes-head p {
	color: #686868;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	text-align:right;
}
.details-price {
	float: left;
	width: 100%;
}
.details-price h6 {
	font-weight: 400;
	color: #454444;
	font-size: 14px;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
	text-align: right;
}
.details-price h6 strong {
	font-weight: 400;
	color: #555758;
	text-decoration: line-through;
	font-size: 29px;
	font-family: 'Rubik', sans-serif;
	margin-right: 5px;
}
.details-price h6 span {
	font-weight: 400;
	color: #e20000;
	font-size: 29px;
	margin: 0 5px;
	font-family: 'Rubik', sans-serif;
}
.details-price p{
	color:#686868;
	font-size:12px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	text-align:right;
	}
.details-price p span{
	color:#0dac3e;
	}
.graw-box{
	float:left;
	width:100%;
	padding:10px 15px;
	background:#f6f6f6;
	margin:10px 0;
	text-align:right;
	}
.graw-box h4{
	text-align:right;
	}	
.variant_val {
	float: right !important;
	margin: 10px 0px 10px 10px !important;
}	
.graw-box h6{
	color: #000;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	}
.graw-box .checkbox-group label {
	position: relative;
	height: 25px;
}

.spinner {
	width: 110px;
	position: relative;
	display: inline-block;
	float: right;
}
.sub {
	top: 0px;
	position: absolute;
	font-size: 22px;
	color: #7b7b7b;
	border: 1px solid #ccc;
	width: 33px;
	text-align: center;
	cursor: pointer;
	height: 40px;
	right: 0px;
	line-height: 34px;
	font-weight: 700;
}
.login_typec {
	background: #fff;
	height: 40px;
	border: none;
	border-radius: 2px;
	width: 100%;
	padding: 7px 32px;
	color: #333;
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #cecece;
	text-align: center;
}
.add {
	top: 0px;
	position: absolute;
	font-size: 22px;
	color: #7b7b7b;
	border: 1px solid #ccc;
	width: 33px;
	text-align: center;
	cursor: pointer;
	height: 40px;
	left: 0px;
	line-height: 34px;
	font-weight: 700;
}
.quentity-box {
	float: right;
	width: auto;
	margin-left: 10px;
}
.cart-bttnss {
	/*background: #0771d4;*/
	background: #28a745;
	padding: 6px 25px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	border: navajowhite;
	margin-top: 27px;
	cursor: pointer;
	float: right;
}
.cart-bttnss:hover{
	background:#ee1600;
	color:#fff;
	}
.pro-dess {
	float: left;
	width: 100%;
	margin: 5px 0;
	text-align:right;
}
.pro-dess h5{
	color:#171716;
	font-size:21px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	}
.pro-dess p{
	color:#616060;
	font-size:14px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	}
.pro-dess a {
	color: #ee1600;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-top: 10px !important;
	display: inline-block;
}
.dtails-socials {
	float: left;
	width: 100%;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding: 10px 0;
}
.dtails-socials ul {
	float: right;
	width: auto;
	margin-top: 7px !important;
}
.dtails-socials ul li {
	float: right;
	margin-right: 7px;
	color: #6c6c6c;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	line-height: 28px;
}
.dtails-socials ul li img:hover{
	opacity:0.7;
	}
.dtails-socials .cart-bttnss {
	float: left;
	background: #ee1600;
	padding: 10px 15px;
	margin-top: 0;
}
.dtails-socials .cart-bttnss:hover{
	background:#0771d4 !important;
	}
.dtls-company{
	margin-top:40px;
	text-align:right;
	}	
.dtls-company .left-about{
	width:100%;
	}
.dtls-company .left-about p{
	font-size:15px;
	margin-bottom:8px !important;
	}
.dtls-company .left-about p strong {
	font-weight: 400;
	width: 120px;
	display: inline-block;
}
.seller-image {
	float: right;
	width: 18%;
}
.seller-image span{
	width: 170px;
	height: 140px;
	display: inline-block;
	background: #eeecec;
	overflow: hidden;
	position: relative;
	float: right;
	}
.seller-image span img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	margin: auto;
	height: auto;
	}
.seller-dtls {
	float: right;
	width: 61%;
	text-align: right;
}
.seller-dtls h3 {
	color: #2b2c2c;
	font-weight: 400;
	font-size: 22px;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}
.seller-dtls p {
	color: #616060;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px !important;
}
.seller-dtls p strong{
	display:inline-block;
	margin-right:12px;
	font-weight:400;
	}
.selling-ul{
	float:left;
	width:100%;
	}	
.selling-ul li{
	float: right;
	margin: 0 0px 10px 10px;
	}

.selling-ul li a {
	display: inline-block;
	background: #fff;
	border: 1px solid #afb0b1;
	color: #3f3f3f;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	border-radius: 2px;
	padding: 3px 7px;
	line-height: 27px;
}
.selling-ul li a:hover{
	color: #fff;
	border: 1px solid #30b611;
	background: #30b611;
	}
.seller-rat {
	float: left;
	width: 21%;
}
.seller-rat ul li {
	float: right;
	margin-right: 3px;
	color: #192120;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	line-height: 17px;
}
.seller-rat ul li img {
	width: 20px;
	float: left;
}
.seller-rat ul {
	float: left;
	width: 100%;
	margin-bottom: 10px !important;
}
.seller-rat p {
	color: #2f3031;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	display: inline-block;
	line-height: 20px;
	text-align:right;
}
.seller-rat p img {
	float: right;
	margin-left: 8px;
}	
.view-sell {
	background: #0771d4;
	padding: 9px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	cursor: pointer;
	border-radius: 2px;
	float: right;
	margin-top: 15px;
}	
.pro_slider{
	float:right !important;
	}
.view-sell:hover{
	background:#ee1600;
	color:#fff;
	}	
.main-dash {
	float: left;
	width: 100%;
	margin-top: 20px;
}	
.left-dash{
	float:right;
	width:28%;
	}	
.user-image-area {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow:0px 0px 9px 0px rgba(49, 49, 49, 0.2);
	padding: 20px;
	text-align:right;
}
.user-image-area span {
	display: inline-block;
	width: 60px;
	height: 60px;
	overflow: hidden;
	position: relative;
	background: #fff;
	border-radius: 50%;
	float: right;
	margin-left: 15px;
}
.user-image-area span img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
	}
.user-image-area h5 {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin: 8px 0 3px 0;
}
.user-image-area p{
	color: #999898;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
}
.user-menus{
	float:left;
	width:100%;
	background: #fff;
	border-radius: 3px;
	box-shadow:0px 0px 9px 0px rgba(49, 49, 49, 0.2);
	}	
.user-menus ul li{
	float:left;
	width:100%;
	}	
.user-menus ul li a{
	float:left;
	width:100%;
	border-bottom:1px solid #efefef;
	color:#696868;
	font-size:16px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	text-align:right;
	}	
.user-menus ul li a span {
	width: 62px;
	text-align: center;
	padding: 15px 0;
	display: inline-block;
	font-size: 18px;
	background: #efefef;
	float:right;
}
.user-menus ul li a strong {
	font-weight: 400;
	padding: 15px 15px;
	display: inline-block;
}
.user-menus ul li a:hover, .user-menus ul li.active a{
	color:#ef1600;
	}
.right-dashboard {
	float:left;
	width: 70%;
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 0px 17px 0px rgba(34, 34, 34, 0.2);
	padding: 20px;
}
.user-info-box {
	float: left;
	width: 100%;
	border: 1px solid #dcdbdb;
	border-radius: 5px;
	padding: 16px 15px;
	margin-bottom:16px;
	text-align:right;
}
.user-info-box img {
	float: right;
	width: auto;
	margin-left: 12px;
}
.user-info-box h5{
	color:#3e3e3e;
	font-size:17px;
	font-weight:500;
	font-family: 'Changa', sans-serif;
	margin-bottom:3px;
	}
.user-info-box p{
	color:#868585;
	font-size:14px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	}
.users-info .col-sm-12{
	padding:0px 10px !important;
	}
.users-info {
	border-bottom: 1px solid #f0eeee;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.user-order-details {
	float: left;
	width: 100%;
	border: 1px solid #dcdada;
	border-radius: 5px;
	margin: 10px 0 25px 0;
}
.info-graw {
	float: right;
	width: 28%;
	padding: 20px 20px;
	background: #f4f4f4;
}
.info-graw h6{
	color:#000;
	font-size:18px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	margin-bottom:0px;
	}
.info-graw p{
	color:#606060;
	font-size:16px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	}
.info-middl {
	float: right;
	width: 42%;
	padding: 7px 15px;
	text-align: right;
}
.info-middl span {
	display: inline-block;
	width: 55px;
	height: 70px;
	overflow: hidden;
	position: relative;
	background: #fff;
	float: right;
	margin-left: 10px;
}
.info-middl span img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
	}
.info-middl h5 {
	color: #404040;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}
.info-middl h6{
	color: #858484;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}
.info-middl p{
	color: #383838;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
}
.info-middl p strong{
	font-weight:400;
	color:#0771d4;
	font-size:13px;
	}
.info-bttns {
	float: left;
	width: 30%;
	text-align: center;
	padding: 20px;
}
.info-bttns a {
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	background: #0771d4;
	border-radius: 4px;
	padding: 10px 31px;
	display: inline-block;
}
.info-bttns a:hover{
	background:#ef1600;
	color:#fff;
	}	
.shipping-area{
	float:left;
	width:100%;
	}
.shipping-area .col-sm-12{
	padding:0 10px !important;
	}
.shipping-box {
	border: 1px solid #454545;
	border-radius: 4px;
	padding: 20px;
	float: left;
	width: 100%;
	min-height: 193px;
	text-align:right;
}
.shipping-box h3 {
	float: left;
	width: 100%;
	color: #000;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	margin-bottom:7px;
}
.shipping-box h3 a {
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #0771d4;
	line-height: 22px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	margin-right:4px;
}
.shipping-box h3 a:hover{
	background:#ef1600;
	color:#fff;
	}
.shipping-box p {
	float: left;
	width: 100%;
	color: #333;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px !important;
}
.shipping-box p a{
	color:#ef1600;
	}
.shipping-box p a:hover{
	color:#2486e1;
	}
.information-box {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: right;
}
.information-box h3 {
	color: #343333;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 20px;
}
.one-main {
	display: inline-block;
	width: 100%;
	margin-bottom: 14px;
	position: relative;
	float: left;
}
.from-label {
	float: left;
	width: 100%;
	text-align: right;
	color: #2f2f2f;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Changa', sans-serif;
	margin-bottom: 4px;
}
.login_type {
	background: #fff;
	height: 50px;
	border: none;
	border-radius: 2px;
	width: 100%;
	padding: 10px 15px;
	color: #333;
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #454545;
	text-align:right;
}
.login-select{
	background:#fff url("../images/select-drp.png") no-repeat left ;
	cursor:pointer;
	}
#file-upload-cont {
	position: relative;
	font-family: 'Changa', sans-serif;
	font-weight: 500;
	font-size: 17px;
	/* color: #fff; */
	background: #000;
	border-radius: 3px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	margin: 0 0 10px 0;
	width: auto;
	float: right;
	overflow: hidden;
	webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
#original {
	opacity: 0;
	position: relative;
	z-index: 100;
	width: 100%;
	cursor: pointer;
	height: 50px;
}
#overlay {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	font-family: 'Changa', sans-serif;
	line-height: 50px;
	border: none;
	font-size: 20px;
	color: #fff;
	background: transparent;
	font-weight: 400;
	width: 100%;
	padding: 0 15px;
	text-align: center;
}
#file-upload-cont:hover{
	cursor:pointer;
	background:#ef1600;
	}
.submit-for-user {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	background: #0771d4;
	border-radius: 3px;
	padding: 0px 31px;
	display: inline-block;
	border: none;
	line-height: 49px;
	cursor:pointer;
	float:right;
}
.submit-for-user:hover{
	background:#ef1600;
	color:#fff;
	}
.singel-order{
	float:left;
	width:100%;
	margin-bottom:25px;
	border:1px solid #e6e5e5;
	padding:13px;
	text-align:right;
	}
.order-id {
	float: right;
	color: #0771d4;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Changa', sans-serif;
	padding: 7px 35px;
	border: 1px solid #a4d1fb;
}
.order-id:hover{
	color:#fff;
	background:#0771d4;
	}
.id-top{
	float:left;
	width:100%;
	margin-bottom:15px;
	}
.product-show-left {
	float: left;
	width: 50%;
	padding-right: 15px;
	border-right: 1px solid #dbdbdb;
}
.ppro-img {
	display: inline-block;
	width: 55px;
	height: 75px;
	overflow: hidden;
	position: relative;
	background: #fff;
	float: right;
	margin-left: 10px;
}
.ppro-img img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
	}
.product-show-left h5{
	color: #010101;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
	}
.product-show-left h6{
	color: #858484;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
	}
.product-show-left p{
	color: #000;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
	text-transform:uppercase;
	}
.product-show-left p span , .qunty p span{
	color:#626262;
	}
.qunty {
	float: left;
	width: 22%;
	padding: 0 15px;
	border-right: 1px solid #dbdbdb;
	min-height: 75px;
}
.qunty p{
	color: #000;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom:3px !important;
	text-transform:uppercase;
	}
.delivry {
	border: none;
	padding-right: 0px;
	width: 28%;
}
.delivry a {
	float: right;
	width: auto;
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Changa', sans-serif;
	background: #0771d4;
	border-radius: 3px;
	padding: 5px 8px;
	line-height: 22px;
	margin-top: 4px;
	height: 30px;
	margin-right: 5px;
}
.delivry a:hover{
	background:#ef1600;
	color:#fff;
	}
.viw{
	background:#ef1600 !important;
	}
.viw:hover{
	background:#000 !important;
	}
.order-his .shipping-box p{
	color:#444444;
	font-size:16px;
	}
.order-his .shipping-box p span{
	color:#7f7e7e;
	}
.order-his{
	margin-bottom:25px;
	}
.address-book .shipping-box p{
	font-size:16px;
	}
.address-book .shipping-box {
	min-height: 170px;
	margin-bottom: 20px;
}
.exit-address {
	float: right;
	background: #ef1600 !important;
	margin-right: 4px;
}
.exit-address:hover {
	background: #000 !important;
}
.add-new{
	float:right;
	margin-bottom:20px;
	color:#ef1600;
	font-size:17px;
	font-weight:bold;
	font-family: 'Changa', sans-serif;
	text-transform:uppercase;
	}
.wishlist .col-md-12{
	padding:0 10px !important;
	}
.wishlist .product-image{
	min-height:317px;
	}
.wishlist .fav-span {
	top: 2px;
	right: 9px;
	font-size: 25px;
}
.his-detls .product-show-left p span,.his-detls .qunty p span {
	color: #626262;
	text-transform: capitalize;
}
.his-detls .qunty p{
	font-size:13px;
	}
.his-detls .qunty {
	padding: 0 11px;
}	
.his-detls .product-show-left p{
	font-size:13px;
	}
.half-p {
	width: 33%;
	float: right;
	margin-right: 10px !important;
}

/*table css*/

.table {
	display: table;
	margin-bottom:0px !important;
	max-width: 100%;
	width: 100% !important;
	box-shadow: 0px 1px 2px #dcdcdc;
}
.table .one_row1 {
	display: table-row;
}
.tab_head_sheet {
	background: #fff;
	border: medium none;
	color: #7f8080;
	font-size: 14px;
	font-family: 'Changa', sans-serif;
	line-height: 20px;
	padding-left: 20px;
	text-align: right;
	font-weight: 400;
	text-transform: capitalize;
}
.cell1 {
	display: table-cell;
	padding: 12px 15px;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
	border-bottom: 1px solid #dedede;
}
.tab_head_sheet_1 {
	border: medium none;
	height: 50px;
	padding: 10px 15px;
	text-align: right;
	white-space: normal;
	overflow-wrap: break-word;
	color: #454545;
	font-family: 'Changa', sans-serif;
	border-bottom: 1px solid #dedede;
}
.tab_head_sheet_1 p {
	color: #272d2d;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	font-family: 'Changa', sans-serif;
	float: right;
}
.pro-name {
	font-size: 16px !important;
	color: #f31a6f !important;
}
.W55_1 {
	display: none;
}
.item_img {
	float: left;
	width: 80px !important;
	height: 70px;
	overflow: hidden;
	position: relative;
	text-align: center;
	margin-right: 7px;
	background: #f4f5f7;
}
.item_img img{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	max-width:85%;
	padding:0px !important;
	}
/*table css*/
.cart-tabel {
	float: left;
	width: 100%;
	border: 1px solid #dedede;
}
.tabel-image {
	float: right;
	width: 65px;
	height: 85px;
	background: #fff;
	overflow: hidden;
	position: relative;
	margin-left: 10px;
	border: 1px solid #e3e3e3;
}
.tabel-image img{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-height:100%;
	max-width:100%;
	width:auto;
	height:auto;
	}
.add_ttrr h5 {
	color: #171919;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
}
.add_ttrr h6 {
	color: #474747;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}
.add_ttrr h4 {
	color: #272d2d;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}


.seller-logo {
	border: 1px solid #dedede;
	width: 65px;
	height: 65px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background: #fff;
	float:right;
	margin-left:10px;
}
.seller-logo img{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-height:100%;
	max-width:100%;
	width:auto;
	height:auto;
	}
.dlt{
	font-size:25px;
	color:#717171; 
	}
.dlt:hover{
	color:#d52d1c;
	}
.dlt .fa{
	float:left;
	}
.cart-total-area{
	float:left;
	width:100%;
	margin-top:15px;
	}
.left-point{
	float:right;
	width:35%;
	padding:15px;
	}
.point-border {
	float: left;
	width: 100%;
	text-align: right;
	border: 2px dashed #d7d7d7;
	padding: 15px 20px;
}
.point-border h6 {
	color: #000;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}
.point-border p{
	color: #606262;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	margin-bottom: 3px;
}
.radio-custom{
	float:left;
	width:100%;
	margin-top:10px;
	}
.radio-custom [type="radio"]:checked,
.radio-custom [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-custom [type="radio"]:checked + label, 
.radio-custom [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 26px;
	cursor: pointer;
	line-height: 22px;
	display: inline-block;
	color: #202020;
	font-size: 16px;
	margin: 0;
	font-family: 'Changa', sans-serif;
}
.radio-custom [type="radio"]:not(:checked) + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 21px;
	height: 21px;
	border: 2px solid #909090;
	border-radius: 100%;
	background: #fff;
}
.radio-custom [type="radio"]:checked + label::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 21px;
	height: 21px;
	border: 2px solid #ef1600;
	border-radius: 100%;
	background: #fff;
	}
.radio-custom [type="radio"]:checked + label::after, .radio-custom [type="radio"]:not(:checked) + label::after {
	content: '';
	width: 11px;
	height: 11px;
	background: #ef1600;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.radio-custom [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-custom [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.radio-custom p {
	float: right;
	width: auto;
	margin-left: 10px !important;
	border: 1px solid #dedede;
	padding: 6px 8px;
}
.right-totals {
	float: left;
	width: 60%;
	padding-left: 35px;
}
.totals{
	float:left;
	width:auto;
	margin-bottom:5px;
	}
.totals p{
	color:#000;
	font-size:14px;
	font-weight:400;
	font-family: 'Changa', sans-serif;
	text-transform:uppercase;
	line-height: 25px;
}
.totals p span {
	float: left;
	width: 130px;
	text-align: left;
}
.borders{
	float:left;
	width:100%;
	height:1px;
	background:#d1d1d1;
	margin:5px 0;
	}
.totals h4{
	color:#000;
	font-size:20px;
	font-weight:500;
	font-family: 'Changa', sans-serif;
	text-transform:uppercase;
	margin:0px;
	}
.totals h4 span {
	float: left;
	width: 150px;
	text-align: left;
}
.check-out-bttns {
	float: left;
	width: auto;
	margin-bottom: 15px;
}
.check-out-bttns a {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	background: #0771d4;
	font-family: 'Changa', sans-serif;
	padding: 8px 10px;
	display: inline-block;
	margin-right: 9px;
	border-radius: 2px;
}
.proc{
	background:#28a745 !important;
	/*background:#ef1600 !important;*/
	}
.check-out-bttns a:hover{
	color:#fff;
	background:#000 !important;;
	}
.shoping-cart-body{
	padding:30px 0 60px 0;
	}
.sucss-loyality {
	border: 1px solid #5ed095;
	border-radius: 3px;
	padding: 10px 15px;
	background: #d7fcdb;
	color: #01631d;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	display: inline-block;
	margin-top: 43px !important;
	float: left;
}
.sucss-loyality img{
	float:left;
	margin-right:12px;
	}
.check-out-sucs .left-point{
	width:60%;
	}
.check-out-sucs .right-totals{
	width:40%;
	}




.info-area {
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	padding: 20px 20px 10px 20px;
	margin-top: 35px;
	text-align:right;
}
.info-area h3{
	color: #000;
	font-size: 28px;
	font-weight:500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 5px;
	}
.info-area .radio-custom{
	margin-bottom:25px;
	}
.info-area .radio-custom p{
	padding:10px;
	}
.chk-page {
	float: left;
	width: 100%;
	text-align: right;
	padding: 20px 0px;
	border-bottom: 1px solid #dcdcdc;
}
.address-bbox{
	float:left;
	width:49%;
	border:1px solid #dcdcdc;
	border-radius:1px;
	margin-top:35px;
	margin-right:2%;
	text-align:right;
	}
.head-adrs-box {
	float: left;
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid #dcdcdc;
}
.head-adrs-box h4{
	color: #000;
	font-size: 23px;
	font-weight:500;
	font-family: 'Changa', sans-serif;
	margin:0px;
	float:right;
	width:auto;
	}
.head-adrs-box a {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	background: #ef1600;
	font-family: 'Changa', sans-serif;
	float: left;
	padding: 6px 10px 4px 10px;
}
.head-adrs-box a:hover{
	background:#2486e1;
	color:#fff;
	}
.address-dtls {
	float: left;
	width: 100%;
}
.address-dtls p {
	color: #54585a;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	line-height: 28px;
	padding: 0px 20px;
}
.address-dtls p span {
	float: right;
	width: 120px;
	border-left: 1px solid #dcdcdc;
	color: #454545;
	margin-left: 15px;
}
.payment-method{
	float:left;
	width:100%;
	border:1px solid #dcdcdc;
	padding:20px;
	margin-top:35px;
	border-radius:1px;
	text-align:right;
	}
.payment-method h4{
	color: #000;
	font-size:21px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin:0px;
	}
.payment-method h4 span{
	color:#00bc1b;
	}
.saved-address{
	float:left;
	width:100%;
	}
.saved-address .shipping-box h3{
	font-size:17px;
	}
.saved-address .shipping-box p{
	font-size:16px;
	}
.saved-address .shipping-box{
	min-height:180px;
	}
.pls-rev {
	float: left;
	width: 100%;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 13px !important;
	text-align:right;
}
.welcome-pop .modal-body {
	text-align: center;
	padding: 15px 25px 25px 25px;
}
.welcome-pop .modal-body .col-lg-4{
	padding:0 10px !important;
	}
.welcome-pop .modal-header {
	padding: 0px !important;
	border: none;
}
.welcome-pop .modal-header h4{
	color: #000;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	}
.welcome-pop .close {
	padding: 6px !important;
	opacity: .99 !important;
}
.welcome-pop .close .fa{
	width:25px;
	height:25px;
	border-radius:50%;
	line-height:25px;
	color:#fff;
	background:#2486E1;
	font-size:14px;
	}
.welcome-pop .close .fa:hover{
	background:#FF0000;
	}
.welcome-pop {
	margin-top: 100px !important;
	max-width: 700px !important;
}
.guest h3{
	margin-bottom:10px !important;
	}	
select::-ms-expand {
    display: none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}	
.pop-box {
	float: left;
	width: 100%;
	border: 1px solid #e8e4e4;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0px 1px 6px 2px rgba(55, 55, 55, 0.1);
}
.pop-box:hover {
	border: 1px solid #2486E1;
	border-radius: 2px;
	background:#f3feff;
}
.pop-box img{
	float:none;
	width:65px;
	}
.pop-box a{
	display:inline-block;
	padding:15px;
	}		
.pop-box p {
	color: #1762a8;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	width: 100%;
	margin: 10px 0 0 0 !important;
	border-radius: 2px;
	display: inline-block;
	margin-bottom: 5px;
	line-height: 19px;
}
.pop-box:hover p{
	color:#F23724;
	}

.sprt {
	float: right;
	width: 100%;
	background:#fff;
	border-radius: 3px;
	box-shadow: 1px 0px 17px 0px rgba(34, 34, 34, 0.2);
	padding: 20px;
	margin-bottom:20px;
}
.sprt h4{
	width:100%;
	float:left;
	color:#000;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	text-transform:uppercase;
	}
.sprt h4 img{
	float:left;
	margin-right:10px;
	}
.sprt ul{
	width:100%;
	float:left;
	}
.sprt ul li {
	width: 23.5%;
	float: left;
	margin: 0.7%;
}
.sprt ul li a{
	width:100%;
	float:left;
	background:#f2f2f2;
	border-left:2px solid #338ee3;
	color:#3f3f3f;
	font-family: 'Changa', sans-serif;
	padding:8px 12px;
	font-size:17px;
	}
.sprt ul li a:hover{
	border-left:2px solid #ef1600;
	color:#ef1600;
	}

.totalrwrd{
	float: right;
	width: 70%;
	background:#fff;
	border-radius: 3px;
	box-shadow: 1px 0px 17px 0px rgba(34, 34, 34, 0.2);
	padding: 15px 20px;
	margin-bottom:20px;
}
.totalrwrd h5{
	color: #000;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 2px;
	float:left;
}
.totalrwrd i{
	width:35px;
	height:35px;
	border-radius:50%;
	overflow:hidden;
	float:left;
	margin:-4px 12px;
	}
.totalrwrd i img{
	width:100%;
	}
.totalrwrd strong{
	color: #2486e1;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	margin-bottom: 2px;
	float:left;
}

.totalrwrd ul{
	width:100%;
	float:left;
	margin-top:12px !important;
	}
.totalrwrd ul li{
	width:auto;
	float:left;
	margin-right:12px;
	}
.totalrwrd ul li p{
	color: #000;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Changa', sans-serif;
	float:left;
}
.totalrwrd ul li p span{
	color:#2486e1;
	}

	
.rwrdash{

	float: left;
	width: 100%;
	margin-bottom: 10px;
}




/*table css*/

.rwrdash .table {
	display: table;
	margin-bottom:0px !important;
	max-width: 100%;
	width: 100% !important;
	box-shadow: 0px 1px 2px #dcdcdc;
}
.rwrdash .table .one_row1 {
	display: table-row;
}
.rwrdash .tab_head_sheet2{
	background: #f4f4f4 ;
	border: medium none;
	color: #000;
	font-size: 16px;
	line-height: 25px;
	padding-left: 20px;
	text-align: left;
	font-weight: 500;
	font-family: 'Changa', sans-serif;
	border-right: 1px solid #e4e3e3;
	text-transform:uppercase;
}
.rwrdash .cell1 {
	display: table-cell;
	padding: 12px 7px 13px 10px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	/*box-shadow: 0px 1px 1px #f3f2f2;*/
	text-align: left;
}
.rwrdash .tab_head_sheet_1 {
	border: medium none;
	height: 50px;
	text-align: left;
	white-space: normal;
	overflow-wrap: break-word;
	color: #414141;
	font-family: 'Changa', sans-serif;
	font-size:15px;
	text-align: left;
	padding: 0 10px;
	/*border-bottom: 1px solid #d1d1d1;*/
}
.rwrdash .tab_head_sheet_1 p {
	color: #414141;
	font-family: 'Changa', sans-serif;
	font-size:15px;
	margin: 0;
}
.rwrdash .rwrdash .tab_head_sheet_1 p b {
	font-size: 11px;
	width: 100%;
	text-align: left;
	display: block;
	font-weight: 400;
}
.W55_1 {
	display: none;
}

.rwrdash .table .small_screen31:nth-child(2n+1) {
	background: #f3f3f3;
}

.alctg{
	position: absolute;
	right: 0;
	list-style-type: none;
}
.navbar-collapse {
	padding-left: 40px;
}



.contact-sec{
	width:100%;
	float:left;
	}
.contact-sec h3{
	width:100%;
	float:left;
	color: #000;
	font-family: 'Changa', sans-serif;
	font-size:21px;
	font-weight:500;
	padding-bottom:10px;
	border-bottom:1px solid #e0e1e2;
	margin-bottom:20px;
	text-align: right;
	}
.rwtdh{
	width:100%;
	float:left;
	margin-bottom:50px;
	}
.threebx {
	background: #f0f0f0;
	width: 100%;
	float: left;
	padding: 20px;
	min-height: 240px;
	text-align: right;
}
.threebx h4{
	width:100%;
	float:left;
	color: #000;
	font-family: 'Changa', sans-serif;
	font-size:17px;
	padding-right: 35px;
	position:relative;
	}
.threebx h4 img {
	position: absolute;
	right: 0;
	top: -1px;
}
.threebx p{
	width:100%;
	float:left;
	color: #6b6b6b;
	font-family: 'Changa', sans-serif;
	font-size:14px;
	margin-top:12px !important;
	}

.threebx span{
	width:100%;
	float:left;
	color: #010101;
	font-family: 'Changa', sans-serif;
	font-size:14px;
	margin-top:10px;
	}

.threebx a{
	width:152px;
	height:34px;
	border-radius:2px;
	line-height:32px;
	float:right;
	color: #fff;
	background:#ef1600;
	font-family: 'Changa', sans-serif;
	font-size:15px;
	font-weight:500;
	text-align:center;
	margin:10px 0;
	}
.threebx a:hover {
	background: #2486e1;
	color:#fff;
}
.rwtdh .coll{
	padding:0 7px;
	}
.cnctfrm{
	width:100%;
	float:left;
	}
.cnctfrm .row{
	margin:0;
	}

.cnctfrm textarea{
	background: #fff;
	min-height: 80px;
	border: none;
	border-radius: 2px;
	width: 100%;
	padding: 10px 15px;
	color: #333;
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #454545;
	text-align: right;
}
/*.cnctfrm select{
	background: #f0f0f0 url("../images/carw.png") no-repeat top 20px right 12px;
	}*/
.cnctfrm select {
	background: #f0f0f0 url("../images/carw.png") no-repeat top 20px left 12px;
}
.cnctmap{
	width:100%;
	float:left;
	}
.cnctmap span{
	float:right;
	}	
.cnctmap p{
	overflow:hidden;
	font-family: 'Changa', sans-serif;
	color:#404040;
	font-size:15px;
	padding-right:15px;
	text-align: right;
	}
/*new-prakash css end*/

.logo img{
    max-width: 150px
}	

.fot_logo img{
    max-width: 140px
}

.graw-box input[type="radio"]{
	display:none;
	}
.variant_val{
	width:auto !important;
	}
.not-avail2{
	display:none;
	}
.cart-tabel .small_screen31{
	position:relative;
	}
.not-avail {
    left:51%;
    color: #fff;
    background: #f04949;
    padding: 6px 10px 8px 10px;
    border-radius: 4px;
    line-height: 15px;
    bottom: auto;
    margin-top: 70px;
    position: absolute;
    top: auto;
    width: 508px;
    z-index: 9999;
    font-size: 14px;
    font-weight: 600;
}

.modify-cart-table .tab_head_sheet{
	background: #2486e1;
	color:#fff;
	}
.modify-cart-table .tab_head_sheet_1 p{
	line-height:85px;
	}
.modify-cart-table .ccount{
	margin-top:23px;
	}
.modify-cart-table .dlt {
	margin-top: 31px;
	float: left;
}
.modify-cart-table .left-point {
	padding: 7px 15px;
}
.name_field .form-group {
	height: 75px;
	float: left;
	width: 100%;
	margin: 0px;
}
.name_field .form-group input{
	margin-bottom:0px !important;
	}
.address-dtls p strong {
	font-weight: 400;
	float: right;
	width: 73%;
}
.modify-cart-table .tab_head_sheet_1{
	padding:10px 8px;
	}
.information-box .col-sm-12 h3{
	float:right !important;
	}	
.extr-cls{
	float:left !important;
	}	
.removeFav {
	font-size: 20px;
	position: absolute;
	right: 5px;
}
	
	
	
	
.for_auto_complete{
	position: absolute;
	top: 46px;
	background:#fff;
	width: 100%;
	border: 1px solid #e0e0e0;
	z-index: 9;
	padding: 9px 15px;
}
.for_auto_complete ul{
	margin:0;
	padding:0;
}
.for_auto_complete ul li{
	list-style:none;
	width:100%;
	display:block;
}
.for_auto_complete ul li a {
	font-size: 15px;
	font-weight: 400 !important;
	font-family: 'Roboto', sans-serif;
	padding: 4px 0;
	display: block;
	color: #1f1f1f !important;
}
.for_auto_complete ul li a:hover{
	color: #ef1600 !important;
}







.head-dash{
	text-align:center;
	}
.payment-div {
	width: 60%;
	float: none;
	display: inline-block !important;
}
.payment-div .method{
	width:100%;
	padding-top: 8px;
	}
.payment-div .card-logos{
	text-align:center;
	}
.payment-div .card-logos ul{
	width:100%;
	margin-bottom:10px !important;
	}
.payment-div .card-logos ul li{
	float:none !important;
	display:inline-block;
	}
.payment-div .creditly-card-form{
	width:100%;
	}
.payment-div .blue-theme{
	width:100% !important;
	text-align:left;
	}
.view-sell-extra{
	float:none;
	border:none;
	cursor:pointer;
	}


.city-clear{
	position: absolute;
	left: 15px;
	top: 37px;
	font-size: 20px;
	cursor: pointer;
	z-index: 9;
}
.portfolio-img{
    width: 100%;
    height: 222px;
    display: inline-block;
    background: #eeecec;
    overflow: hidden;
    position: relative;
    float: left;
    margin-bottom: 25px;
}
.portfolio-img img{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
max-height: 100%;
max-width: 100%;
width: auto;
margin: auto;
height: auto;
}

.sharethis-inline-share-buttons {
	float: left;
}








/*faq*/
.user-image-area {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 9px 0px rgba(49, 49, 49, 0.2);
	padding: 20px;
}
.user-menus2 {
	float: left;
	width: 100%;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 9px 0px rgba(49, 49, 49, 0.2);
}
.user-menus2 ul li {
	float: left;
	width: 100%;
}
.user-menus2 ul li a {
    float: left;
    width: 100%;
    border-bottom: 1px solid #efefef;
    color: #696868;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding-right: 18px;
}
.user-menus2 ul li a:hover, .user-menus2 ul li.active a {
	color: #ef1600;
}
.user-menus2 ul li a span {
	width: auto;
	text-align: center;
	padding: 11px 0;
	display: inline-block;
	font-size: 18px;
	/* background: #efefef; */
	float: right;
}
.user-menus2 ul li a strong {
    font-weight: 400;
    padding: 0px 10px;
    margin-top: 12px;
    display: inline-block;
}
.user-menus2 ul li a:hover i img{
	filter: brightness(0) saturate(100%) invert(19%) sepia(69%) saturate(7267%) hue-rotate(2deg) brightness(93%) contrast(104%);
	}


.right-dashboard2 {
    float: left;
    width: 70%;
}

.portfolio-img{
    width: 100%;
    height: 222px;
    display: inline-block;
    background: #eeecec;
    overflow: hidden;
    position: relative;
    float: left;
    margin-bottom: 25px;
}
.portfolio-img img{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
max-height: 100%;
max-width: 100%;
width: auto;
margin: auto;
height: auto;
}
.maintain{
	float: left;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.maintain  img{
	width: 300px;
	margin-bottom: 25px;
}
.maintain h4{
	font-size: 35px;
	color: #333;
}

.sharethis-inline-share-buttons {
	float: right;
}
.right-dashboard2 ul{
	float: left;
	width: 100%;
}
.right-dashboard2 ul li{
	float: left;
	width: 100%;
}
.right-dashboard2 ul li .link .fa{
	float: right;
}

.accordion {
  width: 100%;
  /*max-width:1170px;*/
  margin:30px auto 50px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion .link {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 15px;
	color: #000;
	font-size: 15px;
	/* border: 1px solid #e5e5e5; */
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background: #fff;
	box-shadow: 0px 0px 4px 0px rgba(49, 49, 49, 0.2);
	text-transform: capitalize;
	font-weight: 500;
	/*border-left: 4px solid #2ba9ff;*/
	text-align: right;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 14px;
  left: 12px;
  font-size: 18px;
  color: #232323;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li{
	list-style-type:none;
	margin-bottom: 22px;
	}
.accordion li p{
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	color:#474646;
	text-align: right;
	font-weight: 400;
	margin-bottom:12px !important;
	width:100%;
	float:left;
	}

.accordion li i.fa-chevron-down {
    right: auto;
    left: 12px;
    font-size: 16px;
}

.accordion li.open .link {
	/*color: #d83625;*/
	/*border-left: 4px solid #d83625;*/
}

.accordion li.open i { color: #232323; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


.submenu {
  display: none;
  font-size: 14px;
 /* border: 1px solid #e5e5e5;*/
padding: 10px 20px;
box-shadow: 0px 3px 5px 0px rgba(49, 49, 49, 0.2);
background:#fff;
overflow:hidden;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #ee633a;
  color: #ee633a;
}

.fa-chevron-down::before {
	content: "\f104";
	font-size:14px;
	/*color:#d83625;*/
}
.pm{
	margin-bottom:5px !important;
	}
.accordion li:last-child{
	margin-bottom: 0;
}






/*rabin - add - 06.04.2020* START*/
.abut-sec {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 9px 0px rgba(49, 49, 49, 0.2);
    padding: 20px;
    margin-top: 25px;
}
.abutt {
    width: 100%;
    float: left;
    margin: 15px 0 20px;
}
.abut-sec h3 {
	width: 100%;
	float: left;
	font-family: 'Poppins', sans-serif;
	font-size: 27px;
	font-weight: 500;
	color: #000;
	text-align: right;
}
.abut-sec h6 {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #202020;
    line-height: 29px;
	text-align: right;
}
.abut-sec h5 {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #202020;
    line-height: 29px;
	text-align: right;
}
.abut-sec p {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4e4d4d;
    text-align: justify;
	text-align-last: right;
	/*text-align: justify;*/
    line-height: 27px;
	
}

.abut-sec pre{
    width: 100%;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #4e4d4d;
	text-align: right;
	line-height: 27px;
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
}

.abutpics {
    width: 100%;
    float: left;
}
.abutpic {
    width: 48%;
    float: right;
    /*margin: 0 1%;*/
	margin: 12px 1% 12px 1%;
}
.abutpic img {
    max-width: 100%;
}



abutt er pase .about_rm{
	display: revert;
}
.rm_for_arabicc{
	display: flex;
	flex-direction: row-reverse;
}
.prtnrfund {
    width: 100%;
    float: left;
    margin: 20px 0 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.rm01{
	width:auto !important;
}







.whtwedo {
    width: 100%;
    float: left;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
.wedo-sec {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.whtwedoinfo {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 9px 0px rgba(49, 49, 49, 0.2);
    padding: 15px;
    margin-bottom: 12px;
}
.wedoicon {
    width: 100%;
    float: left;
    text-align: center;
    margin: 15px 0;
}
.whtwedoinfo h4 {
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.whtwedoinfo p {
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #616161;
    line-height: 26px;
	text-align-last: center;
}
.rm02{
	margin-right: 0;
	margin-left: 0;
}
/*rabin - add - 06.04.2020 - END */

/*comment review*/
.review_customer{
	float: right;
	width: auto;
}
.review_customer li{
	float: left;
	width: auto;
	margin-right: 3px;
}
.review_customer li img{
	float: left;
}
.review_customer li:hover img{
	opacity: 0.5;
}
.reviewcomment {
    height: 70px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
}

.cmt{
    float: left;
    width: auto;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background: #0771d4;
    border-radius: 3px;
    padding: 5px 8px;
    line-height: 22px;
    margin-top: 4px;
    height: 30px;
    margin-right: 5px;
}
.cmt:hover{
	background: #454545;
	color: #fff;
}
.kwdarabic{
	direction: rtl;
}
.add_ttrr{
	direction: rtl;	
}
.totals{
	direction: rtl;		
}
.shipping-box{
	direction: rtl;
}
.only-mobile-show{
	display: none;
}
.navbar-nav {
	min-height: 47px;
}



.for_auto_complete ul li {
	padding: 6px 15px !important;
}

.for_auto_complete ul li:hover {
	background: #eee;
}

.for_auto_complete {
	padding: 0 !important;
}

.for_auto_complete ul li a img{
	width: 20px;
}
.for_auto_complete ul li a {
	white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.all-results{
	direction: rtl;
}

.coupon-area{
    /*width: 100%;*/
    float: right;
    margin-top: 15px;
    position: relative;
    direction: rtl;
}
.coupon-area input{
    width: 300px
}
.apply-btn{
    position: absolute;
    left: 10px;
    top: 9px;
    background: none;
    border: none;
    color: #ef1600;
    font-weight: 500;
}

.out_stock{
	font-size: 11px;
}