#thumbnail-slider {
	height: 654px;
	display: inline-block;
	padding: 35px 0 0;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
}
#thumbnail-slider div.inner{border-radius:0;background-color:#FFF;padding:0;height:100%;box-sizing:border-box;position:relative;overflow:hidden;margin:0;}
#thumbnail-slider div.inner ul{position:relative;left:0;top:0;list-style:none;font-size:0;padding:0;margin:0;float:left!important;width:auto!important;height:auto!important;}
#thumbnail-slider ul li {
	opacity: 1;
	display: block;
	margin: 0 0 8px 0;
	transition: all 0.5s;
	text-align: center;
	padding: 0;
	position: relative;
	list-style: none;
	box-sizing: content-box;
	backface-visibility: hidden;
	height: 115px !important;
	width: 85px !important;
}
.pro_slider {
	float: left;
	width: 50%;
}
#thumbnail-slider ul li.active{border-color:white;-webkit-filter:initial;filter:initial;}
#thumbnail-slider li:hover{border-color:rgba(255,255,255,0.5);-webkit-filter:grayscale(50%);filter:grayscale(50%);}
#thumbnail-slider .thumb{width:100%;height:100%;background-size:contain;background-repeat:no-repeat;background-position:center center;display:block;position:absolute;font-size:0; }
#thumbnail-slider-pause-play{display:none;}
#thumbnail-slider-prev, #thumbnail-slider-next {
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 24px;
	line-height: 28px;
	text-align: center;
	/* margin: 0; */
	color: #120c0c;
	z-index: 10;
	cursor: pointer;
	transition: opacity 0.6s;
	*background-color: #ccc;
	backface-visibility: hidden;
	bottom: -27px !important;
	border: 1px solid #ccc;
	margin: 0 auto;
	float: none;
	right: 0;
	left: 0;
	cursor:pointer;
}
#thumbnail-slider-prev{top:0;}
#thumbnail-slider-next{bottom:0;}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled{/*opacity:0.1;*/cursor:default;}
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
	position: absolute;
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: -2px;
	margin-top: 2px;
	border-left: 2px solid #415256;
	border-top: 2px solid #415256;
}
#thumbnail-slider-prev::before{top:8px;-ms-transform:rotate(-45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
#thumbnail-slider-next::before{bottom:10px;-ms-transform:rotate(135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg);}
@media(max-width:1199px){#thumbnail-slider ul li{width:86px !important;height:119px !important;}}
@media(max-width:991px){
#thumbnail-slider ul li {width: 75px !important;height: 75px !important;}
#thumbnail-slider {
    height: 292px;
}
}
@media(max-width:480px){#thumbnail-slider ul li{width:44px !important;height:60px !important;}
#thumbnail-slider{height:277px;}
}