/*
 * Creditly Gray Theme (gray-theme)
 */

.creditly-wrapper.gray-theme .card_type {
  float: right;
  font-style: italic;
  font-weight: normal !important;
}

.creditly-wrapper.gray-theme h3 {
  background: #424242;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
  margin: 0;
  text-transform: uppercase;
  height: 20px;
}

.creditly-wrapper.gray-theme .credit-card-wrapper {
  padding: 30px 0;
}

.creditly-wrapper.gray-theme {
  background: #E9E9E9;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.creditly-wrapper.gray-theme .form-control:focus {
  border-color: #888;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.creditly-wrapper.gray-theme .form-control {
  border-color: #BBB;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.creditly-wrapper.gray-theme .control-label {
  font-weight: 600;
  margin-bottom: 4px;
}

.creditly-wrapper.gray-theme .col-sm-8,
.creditly-wrapper.gray-theme .col-sm-4 {
  padding-left: 15px;
  padding-right: 15px;
}


/*
 * Creditly Blue Theme (blue-theme)
 */

.creditly-wrapper.blue-theme {
  background-color: rgba(66, 139, 202, 0.8);
  border-color: #357ebd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  width: 350px;
  min-height: 216px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: white;

  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
}

.creditly-wrapper.blue-theme .credit-card-wrapper {
  padding: 40px 30px;
}

.creditly-wrapper.blue-theme .credit-card-wrapper .controls {
  padding-left: 7px;
  padding-right: 7px;
}

/*
 * Bootstrap stuff
 */

.creditly-wrapper input.form-control.has-error {
  outline: none;
  border-color: #ff7076;
  border-top-color: #ff5c61;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0),0 0 4px 0 rgba(255,0,0,0.5);
}

.creditly-wrapper .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.creditly-wrapper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.creditly-wrapper label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.creditly-wrapper input:focus::-webkit-input-placeholder {
    color: #ccc;
}

.creditly-wrapper input:focus:-moz-placeholder {
    color: #ccc;
}

.creditly-wrapper input:focus::-moz-placeholder {
    color: #ccc;
}

.creditly-wrapper input:focus:-ms-input-placeholder {
    color: #ccc;
}

.creditly-wrapper .col-sm-8 {
  width: 66.6666666666666%;
}

.creditly-wrapper .col-sm-4 {
  width: 33.3333333333333%;
}

.creditly-wrapper .col-sm-8,
.creditly-wrapper .col-sm-4 {
  float: left;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.creditly-wrapper .form-group {
  width: 100%;
  display: table;
}

.creditly-wrapper .first-row {
  margin-bottom: 20px;
}

.creditly-wrapper .card-type {
  margin-top: 10px;
  float: right;
}

/**
 * Button CSS
 */

.creditly-blue-theme-submit {
  overflow: hidden;
  display: inline-block;
  visibility: visible!important;
  background-image: -webkit-linear-gradient(#28a0e5,#015e94);
  background-image: -moz-linear-gradient(#28a0e5,#015e94);
  background-image: -ms-linear-gradient(#28a0e5,#015e94);
  background-image: -o-linear-gradient(#28a0e5,#015e94);
  background-image: -webkit-linear-gradient(#28a0e5,#015e94);
  background-image: -moz-linear-gradient(#28a0e5,#015e94);
  background-image: -ms-linear-gradient(#28a0e5,#015e94);
  background-image: -o-linear-gradient(#28a0e5,#015e94);
  background-image: linear-gradient(#28a0e5,#015e94);
  -webkit-font-smoothing: antialiased;
  border: 0;
  padding: 1px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.creditly-blue-theme-submit span {
  display: block;
  position: relative;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  background: #1275ff;
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.creditly-gray-theme-submit {
  background: #2FB4E9;
  border: 0;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 40px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.creditly-gray-theme-submit:hover {
  background: #5dc5ee;
}

.creditly-gray-theme-submit:active {
  background: #169acf;
  border: 0;
  outline: 0;
}

.creditly-gray-theme-submit:focus {
  background: #5dc5ee;
}
