body{
	background-color: #fff !important;
}
.filter{
	background: #fff;
	padding: 0;
}
.filter_hdr{
	padding: 12px 15px 10px 15px;
    border-bottom: solid 1px #eee;
}
.search_form{
	/*padding: 15px;*/
}
.categories{
	padding: 15px;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
}
.categories h5, .cat_show h5{
	font-weight: 600;
	font-family: Roboto,Arial,sans-serif;
	font-size: 16px;
	color: #5f5e5e;
}

.categories a{
	text-decoration: none;
	font-weight: 600;
	    color: #717171;
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
}
.categories label {
	margin-bottom: 5px;
}
.sub_cat label{
	padding-left: 30px; 
}
.sub_cat p{
	font-weight: 600;
    margin-bottom: 5px;
    color: #4c4b4b;
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.brands{
	padding: 15px;
	border-bottom: solid 1px #eee;
}
.brands h5{
	font-weight: 600;
	font-family: Roboto,Arial,sans-serif;
	font-size: 16px;
	color: #5f5e5e;
}
.brands label{
	padding: 4px;
}
.keyword{
	padding: 15px;
}
.variant{
	padding: 15px;
	border-bottom: solid 1px #eee;
}
.variant h5, .price_div h5{
	font-weight: 600;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    color: #5f5e5e;
}
.price_div{
	padding: 15px;
	border-bottom: solid 1px #eee;
}
.img_area img {
	width: 100%
}
.product_area{
	background: #fff;
}
.tot_prod{
	padding: 12px 15px 10px 15px;
    border-bottom: solid 1px #eee;
}
.pdiv{
	border: solid 1px #eee;
    box-shadow: 0px 1px 9px 1px #eee;
    padding: 15px;
}
.price{
	font-weight: 600
}
.p_title a{
	text-decoration: none;
	color: #000;
	font-weight:600;
}
.selected_p_cat{
	text-decoration: none;
    color: #949494;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 10px 0;
}
.selected_sub_cat{
	text-decoration: none;
    color: #484848;
    font-weight: 600;
    cursor: pointer;
    padding-left: 15px;
}
.cat_show{
	padding: 15px;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
}
/*.price_right{
	position: absolute;
    right: 10px;
    font-weight: 600;
}
.price_left{
	position: absolute;
    left: 10px;
    font-weight: 600;
}*/


.variant_val{
	border: solid 2px #c7c7c7;
    width: 80px;
    padding: 9px 7px 0px 7px;
    background: #ffffff;
    float: left;
    color: #5d5d5d;
    /* box-shadow: 1px 1px 3px 1px #7d7d7d; */
    margin: 10px 10px 10px 0;
    font-weight: 600;
    font-size: 13px;
}
.variant_val_select{
	border: 2px solid #30b611 !important;
}
.variant_val_disable{
	border: dotted 2px #a7a6a6 !important;
}
.checkbox-group.variant_val{
	padding: 0 !important;
}



















.size-div .inputGroup {
	 background-color: #fff;
	 display: block;
	 margin: 10px 0;
	 position: relative;
}
.size-div .inputGroup label {
	padding: 5px 16px;
	width: auto;
	text-align: left;
	color: #3c454c;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	float: left;
	background: #fff;
	margin: 0 10px 10px 0;
	border: 1px solid #d3d3d3;
	color: #2d2d2d;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.size-div .inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
    background: #deffe8;
    border: 1px solid #08ce45;
    color: #000;
}
/* .inputGroup label:after {
	 width: 32px;
	 height: 32px;
	 content: '';
	 border: 2px solid #d1d7dc;
	 background-color: #fff;
	 background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	 background-repeat: no-repeat;
	 background-position: 2px 3px;
	 border-radius: 50%;
	 z-index: 2;
	 position: absolute;
	 right: 30px;
	 top: 50%;
	 transform: translateY(-50%);
	 cursor: pointer;
	 transition: all 200ms ease-in;
}*/
.size-div .inputGroup input:checked ~ label {
	 color: #000;
	 border: solid 1px #0f0;
}
.size-div .inputGroup input:checked ~ label:before {
	 transform: translate(-50%, -50%) scale3d(56, 56, 1);
	 opacity: 1;
}
/* .inputGroup input:checked ~ label:after {
	 background-color: #54e0c7;
	 border-color: #54e0c7;
}*/
.size-div .inputGroup input {
	 width: 32px;
	 height: 32px;
	 order: 1;
	 z-index: 2;
	 position: absolute;
	 right: 30px;
	 top: 50%;
	 transform: translateY(-50%);
	 cursor: pointer;
	 visibility: hidden;
}
.size-div code {
	 background-color: #9aa3ac;
	 padding: 0 8px;
}
.selected_parent_cat{
	font-weight: 600;
}
.selected_parent_cat a span{
	float: right;
}
.selected_parent_cat a{
	color: #636363;
}
.select_sub_cat li a{
	color: #d61703;
}
.select_sub_cat{
	margin-left: 14px !important;
    margin-top: 5px !important;
    margin-right: 0 !important;
    padding-right: 13px;
    color: #d61703;
}
.vue-slider-dot-handle{
	border: 2px solid #000000 !important; 
}
.vue-slider-process{
	background-color: #000 !important;
}
.no-prod-i{
	width: 100%;
    text-align: center;
    margin-top: 20px;
}
.no-product i{
	text-align: center;
    font-size: 70px;
    color: #ef1600;
}
.no-product h4{
	font-size: 1.35rem;
    text-align: center;
    color: #ef1600;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.no-product img{
	margin-left: 25px;
}
.no-product h6{
	    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    color: #5f5f5f;
}
.no-product{
	width: 100%;
    /*height: 225px;*/
     background: #eee; 
    margin: 50px auto;
    /*border: solid 2px #f34938;*/
    box-shadow: 0px 1px 1px 1px #d4d4d4;

    padding: 70px;
}
.page-item.active a{
	background: #ef1600;
    color: #fff;
    border: 1px solid #ef1600;
}
.active_fev{
	color: #d90000 !important;
    background: #ffffff !important;
}






.color-box .checkbox-group {
	position: relative;
	
	margin: 0;
	float: left;
	width: auto;
	margin-right: 10px;
	height: 54px
}
.color-box .checkbox-group label {
	/* position: relative; */
	height: auto;
	margin: 0;
	width: auto;
	padding: 0;
}

.color-box .checkbox-group label .box {
	width: 50px;
	height: 50px;
	border-radius:0 !important; 
	overflow: hidden;
	text-align: center;
	position: relative;
	border: none;
}


.color-box .checkbox-group label .box img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto;
	margin: auto;
}


.size-box{
	width: 100%;
    float: left;
    margin-top: 20px;
}
.tooltip{
	opacity: 1 !important;
}

._9-sL7L {
    color: #212121;
    font-size: 36px;
    font-weight: 500;
}
._1mzTZn {
    font-size: 20px;
    color: #878787;
    font-weight: 400;
}
.no_item{
	width: 400px;
    margin: 0 auto;
    height: 200px;
    text-align: center;
}
.no_item h3{
	margin-top: 20px;
}
.no_item small{
	width: 100%;
    display: block;
    margin-bottom: 20px;
}
.no_item img{
	width: 150px;
}

.rating span{
	color: #6d6d6d;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}



.reviews{
    padding: 15px;
    border: solid 1px #eee;
}
.rvw_cmt{
	display: block;
}


.p_code{
	float: left;
    width: 100%;
    margin: 10px 0 !important;
}

.p_code span{
	background: #eee;
    padding: 5px 15px;
    font-weight: 600;
}
.cat_keyword{
	padding-left: 15px !important;
}
.cat_keyword li{
	margin-bottom: 0px !important;

}
.cat_keyword li a{
float: left;
	width: 100%;
	color: #2d2d2d;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.cat_ancXCGSH_F{
	float: left;
	width: auto;
	color: #636363	 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	line-height: 26px;
}

