<template>
    <div>
        <div class="pro-des">
            <div class="prodes-head">
                <h1 v-if="product.product_by_language">{{ product.product_by_language.title }}</h1>
                <p class="p_code"><span>{{ product.product_code }}</span></p>
                <p v-if="product.product_sub_category">{{ product.product_sub_category.category.category_by_language.title }}</p>
            </div>

            <div class="rating" v-if="totalReview > 0">
                <label class="badge badge-success" v-if="getRating(totalRating) > 3">{{ getRating(totalRating) }} <i class="fa fa-star"></i></label> 
                <label class="badge badge-warning" v-if="getRating(totalRating) > 1 && getRating(totalRating) <= 3">{{ getRating(totalRating) }} <i class="fa fa-star"></i></label> 
                <label class="badge badge-danger" v-if="getRating(totalRating) == 1">{{ getRating(totalRating) }} <i class="fa fa-star"></i></label> 
                <span>{{ totalReview }} Rating & Reviews</span>
            </div>
            <div class="details-price">
                <div v-if="productDiscountedPrice != 0">
                    <h6><strong>{{ productPrice }} {{ currency }}</strong> - <span>{{ productDiscountedPrice }} {{ currency }}</span> </h6>
                    <p>Save : <span>{{ getPrice(productPrice - productDiscountedPrice) }} {{ currency }} ({{ getPrice(((productPrice - productDiscountedPrice)/productPrice) * 100) }}%)</span></p>
                </div>
                <div v-if="productDiscountedPrice == 0">
                    <h6><span>{{ productPrice }} {{ currency }}</span> </h6>
                </div>
            </div>
            <div class="graw-box">
                <div class="" v-for="(variant, index) in variants" :key="index">
                    
                    <div class="size-box" v-if="variant.get_variant.upload_image == 'N'">
                        <h6>{{ variant.variant_by_language.name }}</h6>
                        <fieldset>
                            <div class="variant_val" v-for="variant_value in variant.variant_values" v-bind:class="{'variant_val_disable':!availableVariantsGroup[index].includes(variant_value.variant_value_id), 'variant_val_select': selectedVariants.includes(variant_value.variant_value_id)}" v-tooltip="{
                                  content: variant_value.variant_value_by_language.name,
                                  placement: 'top-center',
                                  offset: 10,
                                  delay: {
                                    show: 500,
                                    hide: 300,
                                  },
                                }">
                                <input :id="'variant_'+variant_value.variant_value_id" type="radio" 
                                        :name="'variant'+variant.variant_id" 
                                        v-on:change="changeVariant(variant.variant_id, variant_value.variant_value_id)" 
                                        :value="variant_value.variant_value_id"
                                        v-model="selectedVariants[index]"
                                        >
                                <label :for="'variant_'+variant_value.variant_value_id">  {{ variant_value.variant_value_by_language.name }}</label>
                            </div>
                        </fieldset>
                    </div>
                    <div v-if="variant.get_variant.upload_image == 'Y'" class="color-box colour-div">
                        <h6>Color</h6>
                        <div class="checkbox-group variant_val" v-for="variant_value in variant.variant_values" v-bind:class="{'variant_val_disable':!availableVariantsGroup[index].includes(variant_value.variant_value_id), 'variant_val_select': selectedVariants.includes(variant_value.variant_value_id)}" v-tooltip="{
                                  content: variant_value.variant_value_by_language.name,
                                  placement: 'top-center',
                                  offset: 10,
                                  delay: {
                                    show: 500,
                                    hide: 300,
                                  },
                                }"> 
                            <input 
                                    :id="'variant_'+variant_value.variant_value_id" 
                                    type="radio" 
                                    :name="'variant'+variant.variant_id" 
                                    v-on:change="changeVariant(variant.variant_id, variant_value.variant_value_id)" 
                                    :value="variant_value.variant_value_id"
                                    v-model="selectedVariants[index]"> 
                            <label  data-toggle="tooltip" :for="'variant_'+variant_value.variant_value_id" class="Fs16">
                                <span class="check find_chek"></span>
                                <span class="box W25 boxx">
                                    <img :src="'storage/app/public/option_value_images/' + variant_value.variant_value_name.image">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div v-show="showCartBtn" class="quentity-box">
                    <h6>{{ lang.quantity }}</h6>
                    <div class="ccount">
                        <span class="spinner">
                            <span class="sub" @click="changeQty('sub')">-</span>
                            <input type="number" min="1" max="100" id="number" class="login_typec number-qty" v-model="quantity">
                            <span class="add" @click="changeQty('add')">+</span></span>
                    </div>
                </div>
                <button v-show="showCartBtn" @click="addToCart()" type="submit" class="cart-bttnss"> <img src="public/frontend/images/cart-icon.png" alt=""> {{ lang.add_to_cart }}</button>

                

                <div v-show="!showCartBtn" class="bhgxx2 col-12-12" style="padding: 24px 0px 0px;">
                    <div class="_9-sL7L">Sold Out</div>
                    <div class="_1mzTZn">This item is currently out of stock</div>
                </div>
                <div class="row" style="padding: 20px 0" v-if="showNotifyBtn && !showCartBtn">
                    <div class="col-md-6" v-if="showNotifyEmail && !isLoggedin">
                        <input type="email" v-model="notifyEmail" placeholder="Enter Email" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <button v-show="!showCartBtn && showNotifyBtn" @click="notifyMe()" type="submit" class="btn btn-success"> Notify Me</button>
                    </div>
                    <div class="col-md-12" v-if="showNotifyEmailRequireError">
                        <span class="text-danger">Please enter email to get notification.</span>
                    </div>
                    <div class="col-md-12" v-if="showNotifyEmailError">
                        <span class="text-danger">Please enter valid email to get notification.</span>
                    </div>
                </div>
            </div>
            <!-- <div class="pro-dess">
                <h5>Product description</h5>
                <p v-if="product.product_by_language">{{ product.product_by_language.description }}</p>
                <a href="#">Show more</a>
            </div> -->
            <div class="dtails-socials">
                <ul>
                    <li>{{ lang.share_this_product }} : </li>
                    <div class="sharethis-inline-share-buttons"></div>
                </ul>
                <button class="cart-bttnss">{{ lang.send_to_friend }} </button>
            </div>
        </div>
        <loading :active.sync="isLoading"
        :is-full-page="fullPage" :background-color="bgColor" :opacity="opacity" :loader="loader" :color="color" :height="95" :width="95"></loading>
    </div>
</template>
<script>
    import _ from 'lodash';    
     // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    import VTooltip from 'v-tooltip'
    import axios from 'axios'
    import VueAxios from 'vue-axios'
    import VueToastr from 'vue-toastr'
    import moment from 'moment';
    
    Vue.use(VTooltip, VueAxios, axios)

    export default {
        props: ['slug'],
        mounted() {
            
        },
        components: {
            Loading,
            VueToastr
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                 // loader
                isLoading: true,
                fullPage: true,
                bgColor: '#eee',
                opacity: 0.9,
                loader: 'bars',
                color: '#ef1600',

                currency: 'KWD',
                product: {
                    images: []
                },
                variants: [],
                selectedVariants: [],
                allVariants: [],
                availableVariantsGroup: [[]],
                productPrice: 0,
                productDiscountedPrice: 0,

                // stock available or not
                showCartBtn: true,
                quantity: 1,

                lang: {}, 
                totPriceDependent: 0,

                // review
                totalRating: 0,
                totalReview: 0,
                showNotifyBtn: true,

                showNotifyEmail: true,
                notifyEmail: '',
                showNotifyEmailRequireError: false,
                showNotifyEmailError: false,

                isLoggedin: false
            }        
        },
        created() {
            this.lang = lang;
            this.checkLoggedIn()
            this.getAllVariants()
            this.getProduct()
            
        },
        methods: {
            checkLoggedIn() {
                fetch('check-loggedin/')
                    .then(res => res.json())
                    .then(res => {
                        if(!!res.result.loggedin) {
                            this.isLoggedin = true;
                        }
                    })
            },
            getProduct() {
                fetch('get-product-details/' + this.slug)
                    .then(res => res.json())
                    .then(res => {
                        this.product                = res.result.product
                        this.variants               = res.result.all_variants
                        this.isLoading = false

                        if(!this.selectedVariants.length) {
                            if(!this.product.stock) {
                                this.showCartBtn = false
                            }
                        }

                        // price dependent checking
                        this.totPriceDependent = res.result.price_dependent
                        if(this.totPriceDependent == 0) {
                            this.productPrice           = this.product.price

                            // if discount date is available
                            if(this.product.from_date && this.product.to_date) {
                                let today = moment().format('YYYY-MM-DD')
                                let from_date = moment(this.product.from_date)
                                let to_date = moment(this.product.to_date)
                                let from_date_diff = from_date.diff(today, 'days', true)
                                let to_date_diff = to_date.diff(today, 'days')
                                if(from_date_diff <= 0 && to_date_diff >= 0) {
                                    this.productDiscountedPrice = this.product.discount_price
                                }
                            }

                            // review
                            this.totalRating = this.product.avg_review
                            this.totalReview = this.product.total_no_reviews
                        }
                    })
            },
            getAllVariants() {
                let $this = this;
                fetch('get-all-variants/' + this.slug)
                    .then(res => res.json())
                    .then(res => {
                        this.allVariants = res.result.all_variant_sets
                        if(this.allVariants.length) {
                            let variants = JSON.parse(this.allVariants[0].variants)

                            this.productPrice           = this.allVariants[0].price

                            // if discount date is available
                            if(this.allVariants[0].from_date && this.allVariants[0].to_date) {
                                let today = moment().format('YYYY-MM-DD')
                                let from_date = moment(this.allVariants[0].from_date)
                                let to_date = moment(this.allVariants[0].to_date)
                                let from_date_diff = from_date.diff(today, 'days')
                                let to_date_diff = to_date.diff(today, 'days')
                                if(from_date_diff <= 0 && to_date_diff >= 0) {
                                    this.productDiscountedPrice = this.allVariants[0].discount_price
                                }
                            }

                            this.totalRating = this.allVariants[0].avg_review
                            this.totalReview = this.allVariants[0].total_no_reviews

                            if(!this.allVariants[0].stock_quantity) {
                                this.showCartBtn = false
                            } else {
                                this.showCartBtn = true
                            }
                            variants.forEach(function(item, index) {
                                $this.$set($this.selectedVariants, index, item);
                                if(!$this.availableVariantsGroup[index]) {
                                    $this.availableVariantsGroup[index] = []
                                }
                                $this.availableVariantsGroup[index].push(item)
                                
                                $this.availableVariantsGroup[index] = _.uniq($this.availableVariantsGroup[index])
                            })

                            this.allVariants.forEach(function(item, index) {
                                let variants = JSON.parse(item.variants)
                                variants.forEach(function(item1, index1) {
                                    if(!$this.availableVariantsGroup[index1]) {
                                        $this.availableVariantsGroup[index1] = []
                                    }
                                    $this.availableVariantsGroup[index1].push(item1)
                                
                                    $this.availableVariantsGroup[index1] = _.uniq($this.availableVariantsGroup[index1])
                                    })
                            })
                        } else {
                            // if no variant of the product
                        }
                        
                    })
            },
            changeVariant(variantId, variantValueId) {
                this.productDiscountedPrice = 0
                // check set exist or not with selected variant value id
                let selectedSet = _.filter(this.allVariants, (set) => {
                    return _.isEqual(_.sortBy(JSON.parse(set.variants)), _.sortBy(this.selectedVariants))
                });

                let set = _.filter(this.allVariants, (set) => {
                    return _.find(JSON.parse(set.variants), res => {
                        return res == variantValueId
                    })
                });
                if(selectedSet.length > 0) {
                    if(this.totPriceDependent != 0) {
                        this.productPrice           = selectedSet[0].price

                        if(selectedSet[0].from_date && selectedSet[0].to_date) {
                            let today = moment().format('YYYY-MM-DD')
                            let from_date = moment(selectedSet[0].from_date)
                            let to_date = moment(selectedSet[0].to_date)
                            let from_date_diff = from_date.diff(today, 'days')
                            let to_date_diff = to_date.diff(today, 'days')
                            if(from_date_diff <= 0 && to_date_diff >= 0) {
                                this.productDiscountedPrice = selectedSet[0].discount_price
                            }
                        }

                        this.totalRating = selectedSet[0].avg_review
                        this.totalReview = selectedSet[0].total_no_reviews
                    }
                    this.availableVariantsGroup = []
                    _.forEach(set, (item, index) => {
                        _.forEach(JSON.parse(item.variants), (item1, index1) => {
                            if(!this.availableVariantsGroup[index1]) {
                                this.availableVariantsGroup[index1] = []
                            }
                            this.availableVariantsGroup[index1].push(item1)
                            
                            this.availableVariantsGroup[index1] = _.uniq(this.availableVariantsGroup[index1])
                        })
                    })

                    // check stock is available or not 
                    if(selectedSet[0].stock_quantity === 0) {
                        this.showCartBtn = false
                    } else {
                        this.showCartBtn = true
                    }
                } else {
                    this.selectedVariants = JSON.parse(set[0].variants)
                    this.availableVariantsGroup = []
                    _.forEach(set, (item, index) => {
                        _.forEach(JSON.parse(item.variants), (item1, index1) => {
                            if(!this.availableVariantsGroup[index1]) {
                                this.availableVariantsGroup[index1] = []
                            }
                            this.availableVariantsGroup[index1].push(item1)
                            
                            this.availableVariantsGroup[index1] = _.uniq(this.availableVariantsGroup[index1])
                        })
                    })

                    // when matched set not found with selected value that time have to change the price with available variant.
                    let selectedSet = _.filter(this.allVariants, (set) => {
                        return _.isEqual(_.sortBy(JSON.parse(set.variants)), _.sortBy(this.selectedVariants))
                    });
                    
                    if(this.totPriceDependent != 0) {
                        if(selectedSet[0].from_date && selectedSet[0].to_date) {
                            let today = moment().format('YYYY-MM-DD')
                            let from_date = moment(selectedSet[0].from_date)
                            let to_date = moment(selectedSet[0].to_date)
                            let from_date_diff = from_date.diff(today, 'days')
                            let to_date_diff = to_date.diff(today, 'days')
                            
                            if(from_date_diff <= 0 && to_date_diff >= 0) {
                                this.productDiscountedPrice = selectedSet[0].discount_price
                            }
                        }
                        this.productPrice           = selectedSet[0].price

                        this.totalRating = selectedSet[0].avg_review
                        this.totalReview = selectedSet[0].total_no_reviews
                    }

                    // enable or disable add to cart button if stock is unavailable.
                    if(selectedSet[0].stock_quantity === 0) {
                        this.showCartBtn = false
                    } else {
                        this.showCartBtn = true
                    }
                }
            },
            getPrice (val) {
                return val.toFixed(3)
            },
            getRating (val) {
                // console.log(parseFloat(val).toFixed(1))
                return parseFloat(val).toFixed(1)
            },
            changeQty(type) {
                if(type == 'add') {
                    this.quantity++
                } if(type == 'sub' && this.quantity >1) {
                    this.quantity--
                }
            },
            addToCart() {
                // disable cart button
                $('.cart-bttnss').attr('disabled', 'disabled')
                let reqData = {
                    jsonrpc: '2.0',
                    _token: this.csrf,
                    params: {
                        'variants'  : this.selectedVariants,
                        'quantity'  : this.quantity,
                        'product_id': this.product.id
                    }
                }

                axios.post('add-to-cart',  reqData)
                .then(res => {
                    $('.cart-bttnss').removeAttr('disabled')
                    const response = res.data
                    if(response.error) {
                        this.$toastr.defaultPosition = "toast-bottom-center";
                        this.$toastr.defaultStyle = { "background-color": "#000" };
                        this.$toastr.defaultProgressBar = false;
                        this.$toastr.e('[' + response.error.code + ']: ' + response.error.meaning);
                    } else {
                        this.$toastr.defaultPosition = "toast-bottom-center";
                        this.$toastr.defaultStyle = { "background-color": "#000" };
                        this.$toastr.defaultProgressBar = false;
                        this.$toastr.s(response.result.message.message + ': ' + response.result.message.meaning);
                        $('#cart').html(lang.my_cart + '(' + response.result.cart.total_item + ')');
                    }
                })
                .catch(error => {
                    console.log(error)
                });
            },
            notifyMe() {
                if(!this.isLoggedin && this.notifyEmail == '') {
                    this.showNotifyEmailRequireError = true;
                    return false;
                } else {
                    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    let testEmail = re.test(String(this.notifyEmail).toLowerCase());
                    if(testEmail == false && !this.isLoggedin) {
                        this.showNotifyEmailError = true;
                        return false;
                    } else {
                        this.showNotifyEmailError = false;
                        this.showNotifyEmailRequireError = false;
                    }
                }
                let params = {
                    variants   : this.selectedVariants,
                    product_id : this.product.id,
                    email      : this.notifyEmail
                }
                requestPermission(params);
                this.notifyEmail = '';
                this.showNotifyBtn = false;

                this.$toastr.s('Your request has been successfully submitted.');
            }
        }
    }
</script>

