<template>
    <div>
        <section class="search-body">
            <div class="container">
                <div class="bed-cumb" v-if="products.data.length > 0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" v-if="parentCategory.category_by_language"><a v-bind:href="'search/' + parentCategory.slug">{{ parentCategory.category_by_language.title }}</a></li>
                        <li class="breadcrumb-item active" v-if="category.category_by_language">{{ category.category_by_language.title }}</li>
                    </ol>
                </div>
                <div class="search-area" v-if="products.data.length > 0">
                    <div class="mobile_filter"> <i class="fa fa-filter" aria-hidden="true"></i>
                        <p>Show Filter</p>
                    </div>
                    <div class="left-search" v-if="products.data.length > 0">
                        <div class="search-box" v-if="categories.length && !subCategories[0].length && !parentCategory.id">
                            <h3>{{ lang.category }}</h3>
                            <ul class="sub-categori " v-if="categories.length">
                                <li v-for="item in categories">
                                    <a class="cat_ancXCGSH_F" href="javascript:;" @click="clickCategory('search/' + item.category.slug)">{{ item.category_by_language.title }}  <span></span></a>
                                    <ul class="cat_keyword" v-if="item.category.sub_categories.length">
                                        <li v-for="item1 in item.category.sub_categories">
                                            <a href="javascript:;" @click="clickCategory('search/' + item1.slug)">{{ item1.category_by_language.title }}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="search-box" v-if="subCategories[0].length || parentCategory.id">
                            <h3>{{ lang.sub_category }}</h3>
                            <ul class="sub-categori" v-if="subCategories[0].length">
                                <li v-for="subCategory in subCategories[0]">
                                    <a v-bind:href="'search/' + subCategory.slug">{{ subCategory.category_by_language.title }}  <span>({{ subCategory.product_by_sub_category_count }})</span></a>
                                </li>
                            </ul>
                            <ul class="sub-categori" v-show="viewMoreCat">
                                <li v-for="subCategory in subCategories[1]">
                                    <a v-bind:href="'search/' + subCategory.slug">{{ subCategory.category_by_language.title }}  <span>({{ subCategory.product_by_sub_category_count }})</span></a>
                                </li>
                            </ul>
                            <a @click="viewMoreCat = !viewMoreCat" v-if="subCategories[1].length" href="javascript:;" class="see-all">
                                <span v-if="!viewMoreCat">{{ lang.see_more }}</span>
                                <span v-if="viewMoreCat">{{ lang.see_less }}</span>
                            </a>

                            <!-- if select sub category -->
                            <div class="selected_parent_cat" v-if="parentCategory.category_by_language && !parentCat">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i> <a v-bind:href="'search/' + parentCategory.slug">  {{ parentCategory.category_by_language.title }}<span>({{ parentCategory.product_by_category_count }})</span></a>
                            </div>
                            <ul class="sub-categori select_sub_cat" v-if="category.category_by_language">
                                <li>
                                    <a v-bind:href="'search/' + category.slug">  {{ category.category_by_language.title }}<span>({{ category.product_by_sub_category_count }})</span></a>
                                </li>
                            </ul>
                        </div>
                    
                        <div class="search-box" v-if="brands[0].length">
                            <h3>{{ lang.brand }}</h3>
                            <ul class="brand" v-if="brands[0].length">
                                <li v-for="(brand, index) in brands[0]">
                                    <div class="checkbox-group"> 
                                        <input v-bind:id="'check' + index" type="checkbox" @change="checkBrands($event, brand.id)"> 
                                        <label v-bind:for="'check' + index" class="Fs16">
                                            <span class="check find_chek"></span>
                                            <span class="box W25 boxx"></span>
                                            {{ brand.brand_details_by_language.title }}  <strong>({{ brand.products_by_brand_count }})</strong>
                                        </label>
                                    </div>
                                </li>
                            </ul>

                            <ul class="brand" v-show="viewMoreBrand">
                                <li v-for="(brand, index) in brands[1]">
                                    <div class="checkbox-group"> 
                                        <input v-bind:id="'check_' + index" type="checkbox" @change="checkBrands($event, brand.id)"> 
                                        <label v-bind:for="'check_' + index" class="Fs16">
                                            <span class="check find_chek"></span>
                                            <span class="box W25 boxx"></span>
                                            {{ brand.brand_details_by_language.title }}  <strong>({{ brand.products_by_brand_count }})</strong>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            
                            <a @click="viewMoreBrand = !viewMoreBrand" v-if="brands[1].length" href="javascript:;" class="see-all">
                                <span v-if="!viewMoreBrand">{{ lang.see_more }}</span>
                                <span v-if="viewMoreBrand">{{ lang.see_less }}</span>
                            </a>
                        </div>
                        
                        <div class="search-box" v-for="(variant, index) in variants">
                            <div v-if="variant.upload_image == 'Y'">
                                <h3>{{ variant.variant_by_language.name }}</h3>
                                <ul class="colour-div">
                                    <li v-for="(variantValue, index1) in variant.variant_values[0]">
                                        <div class="checkbox-group">
                                            <input v-bind:id="'check' + index + (index1 + 1)" type="checkbox" @change="checkVariant($event, variant.id, variantValue.id)"> 
                                            <label v-bind:for="'check' + index + (index1 + 1)" class="Fs16">
                                                <span class="check find_chek"></span>
                                                <span class="box W25 boxx"><img :src="'storage/app/public/option_value_images/' + variantValue.image"></span>
                                                {{ variantValue.variant_value_by_language.name }} <strong><!-- (278) --></strong>
                                            </label>
                                        </div>
                                    </li>

                                    <div class="" v-show="viewMoreVariant[index]">
                                        <li v-for="(variantValue, index1) in variant.variant_values[1]">
                                            <div class="checkbox-group"> 
                                                <input v-bind:id="'check_' + index + (index1 + 1)" type="checkbox" @change="checkVariant($event, variant.id, variantValue.id)"> 
                                                <label v-bind:for="'check_' + index + (index1 + 1)" class="Fs16">
                                                    <span class="check find_chek"></span>
                                                    <span class="box W25 boxx"><img :src="'storage/app/public/option_value_images/' + variantValue.image"></span>
                                                    {{ variantValue.variant_value_by_language.name }} <strong><!-- (278) --></strong>
                                                </label>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                                <a @click="seeMoreVariant(index)" v-if="variant.variant_values[1].length" href="javascript:;" class="see-all">
                                    <span v-if="!viewMoreVariant[index]">{{ lang.see_more }}</span>
                                    <span v-if="viewMoreVariant[index]">{{ lang.see_less }}</span>
                                </a>
                            </div>
                            <div v-if="variant.upload_image == 'N'">
                                <h3>{{ variant.variant_by_language.name }}</h3>
                                <div class="size-div">
                                    <div class="inputGroup" v-for="(variantValue, index1) in variant.variant_values[0]">
                                        <input v-bind:id="'option' + index + index1" name="option1" type="checkbox" @change="checkVariant($event, variant.id, variantValue.id)">
                                        <label v-bind:for="'option' + index + index1"> {{ variantValue.variant_value_by_language.name }} </label>
                                    </div>
                                    
                                    <div v-show="viewMoreVariant[index]">
                                        <div class="inputGroup"  v-for="(variantValue, index1) in variant.variant_values[1]">
                                            <input v-bind:id="'option_' + index + index1" name="option1" type="checkbox" @change="checkVariant($event, variant.id, variantValue.id)">
                                            <label v-bind:for="'option_' + index + index1"> {{ variantValue.variant_value_by_language.name }} </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <a @click="seeMoreVariant(index)" v-if="variant.variant_values[1].length" href="javascript:;" class="see-all">
                                    <span v-if="!viewMoreVariant[index]">{{ lang.see_more }}</span>
                                    <span v-if="viewMoreVariant[index]">{{ lang.see_less }}</span>
                                </a>
                               
                            </div>
                        </div>

                        <div class="search-box" v-for="(variant, index) in otherVariants">
                            <div v-if="variant.upload_image == 'Y'">
                                <h3>{{ variant.variant_by_language.name }}</h3>
                                <ul class="colour-div">
                                    <li v-for="(variantValue, index1) in variant.variant_values[0]">
                                        <div class="checkbox-group"> 
                                            <input v-bind:id="'check_o' + index + (index1 + 1)" type="checkbox" @change="checkOtherVariant($event, variant.id, variantValue.id)"> 
                                            <label v-bind:for="'check_o' + index + (index1 + 1)" class="Fs16">
                                                <span class="check find_chek"></span>
                                                <span class="box W25 boxx"><img :src="'storage/app/public/option_value_images/' + variantValue.image"></span>
                                                {{ variantValue.variant_value_by_language.name }} <strong><!-- (278) --></strong>
                                            </label>
                                        </div>
                                    </li>

                                    <div class="" v-show="viewMoreOtherVariant[index]">
                                        <li v-for="(variantValue, index1) in variant.variant_values[1]">
                                            <div class="checkbox-group"> 
                                                <input v-bind:id="'check_o_' + index + (index1 + 1)" type="checkbox" @change="checkOtherVariant($event, variant.id, variantValue.id)"> 
                                                <label v-bind:for="'check_o_' + index + (index1 + 1)" class="Fs16">
                                                    <span class="check find_chek"></span>
                                                    <span class="box W25 boxx"><img :src="'storage/app/public/option_value_images/' + variantValue.image"></span>
                                                    {{ variantValue.variant_value_by_language.name }} <strong><!-- (278) --></strong>
                                                </label>
                                            </div>
                                        </li>
                                    </div>
                                    
                                </ul>
                                <a @click="seeMoreOtherVariant(index)" v-if="variant.variant_values[1].length" href="javascript:;" class="see-all">
                                    <span v-if="!viewMoreOtherVariant[index]">{{ lang.see_more }}</span>
                                    <span v-if="viewMoreOtherVariant[index]">{{ lang.see_less }}</span>
                                </a>
                            </div>
                            <div v-if="variant.upload_image == 'N'">
                                <h3>{{ variant.variant_by_language.name }}</h3>
                                <div class="size-div">
                                    <div class="inputGroup" v-for="(variantValue, index1) in variant.variant_values[0]">
                                        <input v-bind:id="'option_o' + index + index1" name="option1" type="checkbox" @change="checkOtherVariant($event, variant.id, variantValue.id)">
                                        <label v-bind:for="'option_o' + index + index1"> {{ variantValue.variant_value_by_language.name }} </label>
                                    </div>
                                    
                                    <div v-show="viewMoreOtherVariant[index]">
                                        <div class="inputGroup"  v-for="(variantValue, index1) in variant.variant_values[1]">
                                            <input v-bind:id="'option_o_' + index + index1" name="option1" type="checkbox" @change="checkOtherVariant($event, variant.id, variantValue.id)">
                                            <label v-bind:for="'option_o_' + index + index1"> {{ variantValue.variant_value_by_language.name }} </label>
                                        </div>
                                    </div>
                                </div>

                                
                                <a @click="seeMoreOtherVariant(index)" v-if="variant.variant_values[1].length" href="javascript:;" class="see-all">
                                    <span v-if="!viewMoreOtherVariant[index]">{{ lang.see_more }}</span>
                                    <span v-if="viewMoreOtherVariant[index]">{{ lang.see_less }}</span>
                                </a>
                               
                            </div>
                        </div>

                        <div class="search-box" v-if="totalProduct">
                            <h3>{{ lang.price_range }} </h3>
                            <div class="slider_rnge">
                                <vue-slider 
                                    v-bind="sliderOption" 
                                    v-model="sliderValue" 
                                    :enable-cross="false"
                                    @drag-end="priceChange()"
                                ></vue-slider>
                                <span class="price_left">{{ sliderValue[0] }} KWD</span> - 
                                <span class="price_right">{{ sliderValue[1] }} KWD</span>
                            </div>
                        </div>
                        
                        <!-- <button type="submit" class="search-submit">Filter</button> -->
                    </div>
                    <div class="right-search">
                        <div class="result-found" v-if="products.data.length > 0"> 
                            <h4>Showing {{ products.from?products.from:0 }} – {{ products.to?products.to:0 }} products of {{ products.total }} products</h4>
                            <div class="sort-filter">
                                <p>{{ lang.sort_by }}</p>
                                <select class="sort-select" @change="sortBy($event)">
                                    <option value="H">Price - High to Low</option>
                                    <option value="L">Price - Low to High</option>
                                    <option value="N" selected="">Newest First</option>
                                    <option value="A">Alphabetically</option>
                                </select>
                            </div>
                        </div>
                        <div class="all-results">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12" v-for="product in products.data">
                                    <div class="product-box">
                                        <div class="product-image">
                                            <a :href="'product/' + product.slug">
                                                <img v-if="product.default_image" :src="'storage/app/public/products/300/' + product.default_image.image" alt="">
                                                <img v-if="!product.default_image" :src="'public/frontend/images/default_product.png'" alt="">
                                            </a>
                                            <span v-if="getDiscountPrice(product)" class="new-sale">{{ getPrice(((product.price - product.discount_price)/product.price) * 100) }}% OFF</span>
                                            <a class="fav-span" v-bind:class="{'active_fev': product.wishlist}" href="javascript:;" @click="addToFev(product.id)"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="product-dtls">
                                            <h3>{{ lang.sold_by }} : {{ product.product_marchant.fname +' '+ product.product_marchant.lname }}</h3>
                                            <h4><a :href="'product/' + product.slug">{{ product.product_by_language.title }}</a></h4>
                                            <p v-if="getDiscountPrice(product)"><strong>{{ product.price }} KWD</strong> - <span> {{ product.discount_price }} KWD</span></p>

                                            <p v-if="getDiscountPrice(product) == false"><span> {{ product.price }} KWD</span></p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-pagination" v-if="products.data.length > 0">
                            <paginate
                                :page-count="pages"
                                :page-range="3"
                                :margin-pages="2"
                                :click-handler="clickCallback"
                                :prev-text="'<'"
                                :next-text="'>'"
                                :container-class="''"
                                :page-class="'page-item'">
                            </paginate>
                        </div>
                    </div>
                </div>

                <div class="no-product" v-if="products.data.length == 0">
                    <div class="no-prod-i">
                        <img src="public/frontend/images/error-no-search-results.png">
                    </div>
                    <h4>{{ lang.no_product }}</h4>
                    <h6>Please check the spelling or try searching for something else</h6>
                </div>
            </div>
        </section>

        <loading :active.sync="isLoading"
        :is-full-page="fullPage" :background-color="bgColor" :opacity="opacity" :loader="loader" :color="color" :height="95" :width="95"></loading>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/antd.css'
    import _ from 'lodash';
    
     // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    // paginate
    import Paginate from 'vuejs-paginate'
    import VueToastr from 'vue-toastr'
    import moment from 'moment'
    
    export default {
        mounted() {
            
        },
        components: {
            VueSlider,
            Loading,
            Paginate,
            VueToastr
        },
        data() {
            return {
                // loader
                isLoading: true,
                fullPage: true,
                bgColor: '#eee',
                opacity: 0.9,
                loader: 'bars',
                color: '#ef1600',

                // show more button decleration
                viewMoreCat: false,
                viewMoreBrand: false,
                viewMoreVariant: [],
                viewMoreOtherVariant: [],

                // pagination
                pages: 0,
                perPage: 12,
                currentPage: 1,

                // split array for Show More and Show Less
                chunkValue: 2,

                sliderValue: [0,500000],
                sliderOption: {
                    min: 0,
                    max: 5000000,
                    clickable: false
                },
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                showSub: false,
                totalProduct: 0,
                products: {
                    data: []
                },
                brands: [{},{}],

                // for category section
                category: {},
                parentCategory: {},

                //when search using keyword
                categories: [],

                subCategories: [[], []],
                subCat: null,
                parentCat: null,

                variants: [],
                variantData: [],
                otherVariants: [],
                otherVariantData: [],
                
                checkBrand: [],
                orderBy: 'N', 
                isLoggedin: false, 

                lang: {}
            }
        },
        created() {
            // checking logged in or not to add to fav etc.
            this.checkLoggedIn()
            this.lang = lang;
            var URL = window.location.href;

            URL = URL.split("?")
            URL = URL[0];
            var arr = URL.split('/');
            let cat = arr[arr.length - 1]
            // if filter by category
            if(cat != 'search' && cat !== undefined) {
                fetch('check-cat-or-subcat/' + cat)
                .then(res => res.json())
                .then(res => {
                    if(res.result) {
                        // if selected slug is category or sub category
                        if(res.result.is_category) {
                            this.parentCat = cat
                            this.getSubCategories(cat)
                        } else {
                            this.subCat = cat
                            this.getVariants(res.result.category.id, cat, res.result.category.category_by_language.title)
                            this.getParentCategories(cat)
                        }
                    }
                    this.getBransds(cat)
                    this.getProducts()
                })
            } else {
                // if filter for keyword
                this.getProducts()
            }
        },
        methods: {
            checkLoggedIn() {
                fetch('check-loggedin/')
                    .then(res => res.json())
                    .then(res => {
                        if(!!res.result.loggedin) {
                            this.isLoggedin = true;
                        }
                    })
            },
            getProducts() {
                this.isLoading = true
                fetch('search-products-vue?page=' + this.currentPage, {
                    method: 'POST',
                    body: JSON.stringify({'category':       this.parentCat,
                                          'variant':        this.variantData,
                                          'other_variant':  this.otherVariantData,
                                          'sub_category':   this.subCat,
                                          'brands':         this.checkBrand,
                                          'price':          this.sliderValue,
                                          'order_by':       this.orderBy,
                                          'per_page':       this.perPage,
                                          'keyword':        this.getParameterByName('keyword')
                    })
                })
                .then(res => res.json())
                .then(res => {
                    // for show price slider
                    if(this.products.total === undefined) {
                        this.totalProduct = res.result.products.total
                    }
                    
                    this.products = res.result.products
                    
                    this.isLoading = false
                    window.scrollTo(0,0);
                    this.setPages()

                    if(!this.sliderValue[0] || !this.sliderValue[0]) {
                        this.$set(this.sliderValue, 0, parseInt(res.result.min_price))
                        this.$set(this.sliderValue, 1, parseInt(res.result.max_price))

                        this.sliderOption.min = parseInt(res.result.min_price)
                        this.sliderOption.max = parseInt(res.result.max_price)
                    }

                    if(res.result.categories && res.result.categories.length) {
                        this.categories = res.result.categories
                    }
                })
            },
            clickCategory(url) {
                if($('#keyword_header_search').val() != '') {
                    $('#header_search').attr('action', url)
                    $('#header_search').submit()
                } else {
                    location.href = url
                }
            },
            getBransds(cat) {
                fetch('get-brands/' + cat)
                    .then(res => res.json())
                    .then(res => {
                        this.$set(this.brands, 0, _.slice(res.result.brands, 0, 3))
                        this.$set(this.brands, 1, _.slice(res.result.brands, 3))
                    })
            },
            // this method is used to get parent category associated to the selected sub category
            getParentCategories(subCat) {
                fetch('get-parent-category/' + subCat)
                    .then(res => res.json())
                    .then(res => {
                        this.parentCategory = res.result.parent_category
                        this.category       = res.result.category
                    })
            },
            categoryClick(id, name) {
                this.parentCat = id
                this.showSub = true
                this.selectedParentCat = name
                this.getSubCategories(id)
                this.getProducts()
            },
            getSubCategories(slug) {
                fetch('get-sub-categories/' + slug)
                    .then(res => res.json())
                    .then(res => {
                        this.subCategories[0]  = _.slice(res.result.sub_categories, 0, 3)
                        this.subCategories[1]  = _.slice(res.result.sub_categories, 3)
                        this.parentCategory = res.result.parent_category
                    })
            },
            getVariants(id, slug, name) {
                this.subCatSelect = true
                this.subCatName = name
                fetch('get-variants/' + id)
                    .then(res => res.json())
                    .then(res => {
                        this.variants = res.result.variants
                        this.otherVariants = res.result.other_variants
                        res.result.variants.forEach((item, index) => {
                            let variantValues = []
                            variantValues[0] = _.slice(item.variant_values, 0, 3)
                            variantValues[1] = _.slice(item.variant_values, 3)

                            this.$set(this.viewMoreVariant, index, false);

                            this.variants[index] = item
                            this.variants[index]['variant_values'] = variantValues
                        })

                        res.result.other_variants.forEach((item, index) => {
                            let variantValues = []
                            variantValues[0] = _.slice(item.variant_values, 0, 3)
                            variantValues[1] = _.slice(item.variant_values, 3)

                            this.$set(this.viewMoreOtherVariant, index, false);

                            this.otherVariants[index] = item
                            this.otherVariants[index]['variant_values'] = variantValues
                        })
                    })
                this.subCat = slug
            },
            backPcat() {
                this.subCatSelect = false
                this.showSub = false
            },
            checkVariant(event, variantId, variantValueId) {
                if(event.target.checked) {
                    if(this.variantData[variantId]) {
                        this.variantData[variantId].push(variantValueId)
                    } else {
                        this.variantData[variantId] = []
                        this.variantData[variantId].push(variantValueId)
                    }
                } else {
                    if(this.variantData[variantId].length == 0) {
                        this.variantData.splice(variantId, 1)
                    } else {
                        this.variantData[variantId].splice($.inArray(variantValueId, this.variantData[variantId]),1)
                    }
                }
                this.getProducts()
            },
            checkOtherVariant(event, variantId, variantValueId) {
                if(event.target.checked) {
                    if(this.otherVariantData[variantId]) {
                        this.otherVariantData[variantId].push(variantValueId)
                    } else {
                        this.otherVariantData[variantId] = []
                        this.otherVariantData[variantId].push(variantValueId)
                    }
                } else {
                    if(this.otherVariantData[variantId].length == 0) {
                        this.otherVariantData.splice(variantId, 1)
                    } else {
                        this.otherVariantData[variantId].splice($.inArray(variantValueId, this.otherVariantData[variantId]),1)
                    }
                }
                this.getProducts()
            },
            checkBrands(event, id) {
                if(event.target.checked) {
                    this.checkBrand.push(id)
                } else {
                    this.checkBrand.splice(this.checkBrand.indexOf(id), 1)
                }
                this.getProducts()
            },
            priceChange() {
                this.getProducts()
            },
            sortBy(event) {
                this.orderBy = event.target.value
                this.getProducts()
            },
            getPrice (val) {
                return val.toFixed(3)
            },
            seeMoreVariant(index) {
                this.$set(this.viewMoreVariant, index, !this.viewMoreVariant[index])
            },
            seeMoreOtherVariant(index) {
                this.$set(this.viewMoreOtherVariant, index, !this.viewMoreOtherVariant[index])
            },
            clickCallback (pageNum) {
                this.currentPage = pageNum
                this.getProducts()
            },
            setPages () {
                this.pages = Math.ceil(this.products.total / this.perPage);
            },
            addToFev(id) {
                if(!this.isLoggedin) {
                    this.$toastr.defaultPosition = "toast-bottom-center";
                    this.$toastr.defaultStyle = { "background-color": "#000" };
                    this.$toastr.defaultProgressBar = false;
                    this.$toastr.e("Please login for adding product to wishlist.");
                    location.href = 'login'
                } else {
                    fetch('add-to-fev/' + id)
                    .then(res => res.json())
                    .then(res => {
                        if(res.error) {
                            this.$toastr.defaultPosition = "toast-bottom-center";
                            this.$toastr.defaultStyle = { "background-color": "#000" };
                            this.$toastr.defaultProgressBar = false;
                            this.$toastr.e('[' + res.error.code + ']: ' + res.error.meaning);
                        } else {
                            this.$toastr.defaultPosition = "toast-bottom-center";
                            this.$toastr.defaultStyle = { "background-color": "#000" };
                            this.$toastr.defaultProgressBar = false;
                            this.$toastr.s(res.result.message.meaning);
                            this.getProducts()
                        }
                    })
                }
            },
            getDiscountPrice(product) {
                let today = moment().format('YYYY-MM-DD')
                let from_date = moment(product.from_date)
                let to_date = moment(product.to_date)
                let from_date_diff = from_date.diff(today, 'days')
                let to_date_diff = to_date.diff(today, 'days')
                if((from_date_diff <= 0 && to_date_diff >= 0) && product.discount_price != 0) {
                    return true
                } else {
                    return false
                }
            },
            getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
        }
    }
</script>
